* {
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #faf4f4;
}

.wall {
    max-width: 1200px;
    width: 100%;
    height: 0px;
    margin: auto;
}


/**header**/

header {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}


/* .logo {
    width: 13%;
} */

.menu-responsive {
    display: none;
}


/* nav {
    width: 67%;
} */

nav ul {
    display: flex;
}

nav ul li {
    margin: 38px 10px;
}

nav ul li a {
    font-size: 15px;
    font-family: "Cabin-Regular";
    color: #bababa;
    transition-duration: 0.4s;
}

nav ul li a:hover {
    color: #e63946;
}

.login {
    display: flex;
    margin: 26px 0px;
}

.sign-in {
    padding: 10px 25px;
    background-color: #e63946;
    font-size: 11.4pt;
    font-family: "Cabin-Regular";
    color: #fff;
    border-radius: 4px;
}

.sign-up {
    margin: 10px 15px;
    font-size: 11.4pt;
    font-family: "Cabin-Regular";
    color: #fff;
}


/*news-feature*/

.news-feature {
    width: 1200px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    margin-bottom: 120px;
}


/*first type news*/

.first-news-item {
    position: relative;
    width: 680px;
    transition-duration: 0.3s;
}

.cover-fr-nw-it {
    position: relative;
    height: 360px;
    overflow: hidden;
    border-radius: 10px;
}

.cover-fr-nw-it:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
    opacity: 0.7;
}

.shad-fr-nw {
    position: absolute;
    top: 0px;
    background-color: #2a2a2a;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.cover-fr-nw-it {
    transition-duration: 0.3s;
}

.cover-fr-nw-it img {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.first-news-item:hover .cover-fr-nw-it:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.see-more-fr {
    position: absolute;
    left: 50%;
    transform: translateX(-40%);
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    opacity: 0;
    transition: 0.3s;
    padding: 10px 20px;
    font-size: 13px;
    font-family: "Cabin-Bold";
    color: #fff;
    border: 1px solid#fff;
    border-radius: 2px;
    cursor: pointer;
}

.first-news-item:hover .see-more-fr {
    opacity: 1;
    z-index: 1;
}

.poster-fr-nw {
    display: inline-block;
    position: absolute;
    top: 185px;
    left: 20px;
    width: 190px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.poster-fr-nw img {
    width: 150%;
    min-height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.first-news-item:hover .poster-fr-nw {
    margin-top: -20px;
}

.inf-fr-nw {
    position: relative;
    display: inline-block;
    margin-left: 230px;
    margin-right: 40px;
}

.inf-fr-nw h2 {
    position: absolute;
    bottom: 69px;
    font-family: "Cabin-Bold";
    font-size: 23px;
    color: #edf2f4;
}

.inf-fr-nw article {
    margin-top: 8px;
    font-family: "Cabin-Regular";
    font-size: 15px;
    color: #939393;
}

.aditional-fr-nw {
    top: 420px;
    padding-top: 60px;
    padding-bottom: 10px;
    left: 20px;
    position: absolute;
    margin-top: 60px;
    visibility: hidden;
    transition-duration: 0.3s;
}

.inf-fr {
    padding-top: 8px;
}

.inf-fr img {
    opacity: 0;
}

.first-news-item:hover .inf-fr img {
    margin-top: -2px;
    float: left;
    margin-right: 10px;
    filter: invert(38%) sepia(97%) saturate(6841%) hue-rotate(343deg) brightness(98%) contrast(92%);
    opacity: 1;
}

.inf-fr span {
    opacity: 0;
    font-family: "Cabin-Regular";
    color: #ababab;
}

.first-news-item:hover .inf-fr span {
    opacity: 1;
}

.first-news-item:hover .aditional-fr-nw {
    visibility: visible;
    margin-top: -10px;
}


/*second-type news section news feature*/

.second-type-item {
    display: flex;
    width: 500px;
    margin-left: 20px;
    margin-bottom: 30px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
    padding-right: 15px;
}

.second-type-item:hover {
    background-color: #fff;
    box-shadow: 0 0 10px rgb(236, 235, 235);
}

.ps-tp-it {
    display: flex;
    position: relative;
    width: 200px;
    height: 120px;
}

.ps-tp-it img {
    min-width: 200px;
    width: 100%;
    border-radius: 10px;
}

.inf-sc-tp-i {
    margin-top: 20px;
    margin-left: 15px;
}

.inf-sc-tp-i h2 {
    margin-top: 10px;
    font-family: "Cabin-Bold";
    font-size: 20px;
    color: #282828;
}

.inf-sc-tp-i span {
    font-family: "Cabin-Regular";
    color: #ababab;
}

.date-sc-tp-i {
    float: left;
    margin-top: -2px;
    margin-right: 10px;
    filter: invert(38%) sepia(97%) saturate(6841%) hue-rotate(343deg) brightness(98%) contrast(92%);
}


/*wraper-content*/

.wraper-content {
    background-color: #f1f1f1;
}

.wall-0 {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 70px;
}


/*featured-today*/

.featured-today {
    margin-bottom: 95px;
}

.title-section-featured {
    margin-top: 50px;
    margin-bottom: 30px;
}

.title-section-featured h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    font-size: 32px;
    font-family: "Cabin-Bold";
    color: #1d3557;
}

.title-section-featured span {
    display: flex;
    justify-content: center;
    font-family: "Cabin-Regular";
    font-size: 20px;
    color: rgb(194, 194, 194);
}


/*featured news*/

.sec-ft-nw {
    position: relative;
    display: inline-block;
    width: 224px;
    margin-right: 15px;
    cursor: pointer;
}

.sec-ft-nw:hover .img-sec-ft {
    z-index: 2;
}

.sec-ft-nw .information-hovered {
    position: absolute;
    top: 50px;
    left: -50px;
    overflow: hidden;
    height: 350px;
    width: 0px;
    color: #fff;
    border-radius: 30px;
    z-index: 0;
    opacity: 0;
}

.sec-ft-nw .lefter {
    position: relative;
    margin-top: 40px;
    margin-left: 300px;
    height: 100%;
}

.sec-ft-nw:hover .information-hovered {
    position: absolute;
    background-color: #fff;
    height: 350px;
    width: 700px;
    opacity: 1;
    z-index: 1;
    transition-duration: 0.4s;
    transition-delay: 0.1s;
}

.lefter h2 {
    color: #fff !important;
}

.sec-ft-nw:hover .lefter h2 {
    font-size: 26px;
    font-family: "Cabin-Bold";
    color: #000 !important;
}

.sec-ft-nw:hover .lefter h3 {
    font-size: 14px;
    font-family: "Cabin-Bold";
    color: #727272;
    margin-right: 10px;
}

.sec-ft-nw:hover .lefter span {
    font-size: 14px;
    font-family: "Cabin-Bold";
    color: #c2c2c2;
    margin-right: 10px;
}

.sec-ft-nw:hover .lefter article {
    margin-top: 20px;
    color: rgb(112, 112, 112);
    font-family: "Cabin-Regular";
    font-size: 16px;
}

.sec-ft-nw:hover .seemore {
    position: absolute;
    padding: 15px 20px;
    bottom: 100px;
    right: 20px;
    color: #000;
    background-color: #f1f1f1;
    font-family: "Cabin-Bold";
    border-radius: 10px;
    transition: 0.3s;
}

.sec-ft-nw:hover .seemore:hover {
    background-color: #e63946;
    color: #fff;
}


/*nth 4 child*/

.sec-ft-nw:nth-child(4) .information-hovered {
    position: absolute;
    top: 50px;
    right: -50px;
    left: auto;
    overflow: hidden;
    height: 350px;
    width: 0px;
    color: #fff;
    border-radius: 30px;
    z-index: 0;
    opacity: 0;
}

.sec-ft-nw:nth-child(4):hover .information-hovered {
    position: absolute;
    background-color: #fff;
    height: 350px;
    width: 700px;
    opacity: 1;
    z-index: 1;
    transition-duration: 0.4s;
    transition-delay: 0.1s;
}

.sec-ft-nw:nth-child(4) .lefter {
    position: relative;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 300px;
    height: 100%;
}

.sec-ft-nw:nth-child(4):hover .seemore {
    position: absolute;
    padding: 15px 20px;
    bottom: 100px;
    right: auto;
    color: #000;
    background-color: #f1f1f1;
    font-family: "Cabin-Bold";
    border-radius: 10px;
    transition: 0.3s;
}

.sec-ft-nw:nth-child(4):hover .seemore:hover {
    background-color: #e63946;
    color: #fff;
}


/*lastchild*/

.sec-ft-nw:last-child .information-hovered {
    position: absolute;
    top: 50px;
    right: -50px;
    left: auto;
    overflow: hidden;
    height: 350px;
    width: 0px;
    color: #fff;
    border-radius: 30px;
    z-index: 0;
    opacity: 0;
}

.sec-ft-nw:last-child:hover .information-hovered {
    position: absolute;
    background-color: #fff;
    height: 350px;
    width: 700px;
    opacity: 1;
    z-index: 1;
    transition-duration: 0.4s;
    transition-delay: 0.1s;
}

.sec-ft-nw:last-child .lefter {
    position: relative;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 300px;
    height: 100%;
}

.sec-ft-nw:last-child:hover .seemore {
    position: absolute;
    padding: 15px 20px;
    bottom: 100px;
    right: auto;
    color: #000;
    background-color: #f1f1f1;
    font-family: "Cabin-Bold";
    border-radius: 10px;
    transition: 0.3s;
}

.sec-ft-nw:last-child:hover .seemore:hover {
    background-color: #e63946;
    color: #fff;
}

.sec-ft-nw:hover .rat-sec-ft {
    z-index: 2;
}

.sec-ft-nw:last-child {
    margin-right: 0px;
}

.img-sec-ft {
    position: relative;
    widows: 240px;
    height: 320px;
    margin-bottom: 13px;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0 6px 4px -4px rgb(112, 112, 112);
    -moz-box-shadow: 0 6px 4px -4px rgb(112, 112, 112);
    box-shadow: 0 6px 4px -4px rgb(112, 112, 112);
}

.img-sec-ft img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    max-width: 250px;
}

.rat-sec-ft {
    position: absolute;
    top: 283px;
    right: 10px;
    padding: 7px 12px;
    font-size: 10pt;
    font-family: "Cabin-Bold";
    color: #2b2b2b;
    background-color: #fff;
    border-radius: 20px;
}

.sec-ft-nw h2 {
    margin-bottom: 7px;
    font-size: 17px;
    font-family: "Cabin-Bold";
    color: #191919;
}

.sec-ft-sp span {
    margin-right: 10px;
    font-size: 14px;
    font-family: "Cabin-Bold";
    color: #afafaf;
}

.sec-ft-nw-last {
    position: relative;
    float: right;
    width: 410px;
}

.img-sec-ft-last {
    position: relative;
    width: 410px;
    height: 260px;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 30px;
}

.img-sec-ft-last img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    max-width: 500px;
}

.rat-sec-ft-last {
    position: absolute;
    top: 213px;
    right: 20px;
    padding: 7px 12px;
    font-size: 10pt;
    font-family: "Cabin-Bold";
    color: #2b2b2b;
    background-color: #fff;
    border-radius: 20px;
}

.sec-ft-nw-last h2 {
    margin-left: 20px;
    margin-bottom: 7px;
    font-size: 17px;
    font-family: "Cabin-Bold";
    color: #191919;
}

.sec-ft-sp-last {
    margin-left: 20px;
}

.sec-ft-sp-last span {
    margin-right: 10px;
    font-size: 14px;
    font-family: "Cabin-Bold";
    color: #afafaf;
}


/*top pics*/

.top-pics {
    overflow: hidden;
    margin-bottom: 90px;
}

.title-section-top-pics {
    position: relative;
    margin-bottom: 35px;
}

.owl-s {
    display: inline-block;
    margin-right: 50px;
}

.sl-changer {
    display: inline-block;
    vertical-align: top;
}

.title-section-top-pics h2 {
    margin-bottom: 2px;
    font-size: 32px;
    font-family: "Cabin-Bold";
    color: #1d3557;
}

.title-section-top-pics span {
    font-family: "Cabin-Regular";
    font-size: 20px;
    color: rgb(194, 194, 194);
}

.sl-cr-owl {
    position: relative;
    width: 100%;
    white-space: nowrap;
    transition: 0.3s;
}

.news-owl {
    position: relative;
    top: 0;
    display: inline-block;
    max-width: 23.5%;
    margin-left: 2%;
    margin-right: -4px;
    font-size: 0;
    transition: 0.3s;
}

.news-owl:hover {
    top: -10px;
    cursor: pointer;
    transition: 0.3s;
}

.news-owl:nth-child(1) {
    margin-left: 0px;
}

.news-owl:nth-child(5n) {
    margin-left: 0px;
}

.img-owl-cr {
    position: relative;
    max-width: 100%;
    height: 420px;
    overflow: hidden;
    border-radius: 10px;
}

.img-owl-cr img {
    position: relative;
    max-width: 290px;
    left: 50%;
    transform: translateX(-50%);
}

.img-owl-cr:after {
    content: "";
    position: absolute;
    width: 282px;
    height: 420px;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.3;
}

.inf-cr-owl {
    position: absolute;
    bottom: 20px;
    left: 15px;
    z-index: 1;
}

.rating-owl {
    position: absolute;
    bottom: 48px;
    padding: 7px 12px;
    background-color: #fff;
    font-family: "Cabin-Regular";
    font-size: 11pt;
    color: #000;
    border-radius: 30px;
}

.inf-cr-owl h2 {
    font-family: "Cabin-Bold";
    font-size: 13pt;
    color: #fff;
}

.cat-owl {
    margin-top: 5px;
}

.cat-owl span {
    margin-right: 7px;
    font-size: 14px;
    font-family: "Cabin-Bold";
    color: #c2c2c2;
}

.add-inf-show {
    position: relative;
    top: 50px;
    background: red;
    z-index: 4;
}

.sl-changer {
    margin-top: 2px;
}

.next,
.prew {
    display: inline-block;
    vertical-align: top;
}

.next {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background-color: #2b2d42;
    margin-left: 5px;
    cursor: pointer;
}

.prew {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background-color: #e0e8eb;
    cursor: pointer;
}

.arrow-x {
    position: absolute;
    display: grid;
    top: 35%;
    left: 35%;
    width: 15px;
    height: 15px;
    transform: rotate(180deg);
    background-image: url("../images/arrow.svg");
    filter: invert(100%) sepia(40%) saturate(2947%) hue-rotate(174deg) brightness(84%) contrast(91%);
}

.arrow-y {
    position: absolute;
    display: grid;
    top: 30%;
    left: 30%;
    width: 15px;
    height: 15px;
    background-image: url("../images/arrow.svg");
    filter: invert(55%) sepia(30%) saturate(232%) hue-rotate(182deg) brightness(88%) contrast(88%);
}


/*inTheaters*/

.content-theaters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.main-event {
    width: 60%;
}

.img-main-event {
    display: flex;
    width: 100%;
    height: 480px;
    border-radius: 10px;
    overflow: hidden;
}

.pr-news {
    width: 40%;
}

.img-main-event img {
    max-width: 1000px;
}

.main-event h3 {
    margin-top: 18px;
    font-size: 16px;
    font-family: "Cabin-Bold";
    color: #f77f00;
}

.main-event h2 {
    margin-top: 5px;
    font-size: 22px;
    font-family: "Cabin-Bold";
    color: #000;
}

.categories-item-main {
    margin-top: 5px;
    font-family: "Cabin-Bold";
    color: #afafaf;
}

.categories-item-main span {
    margin-right: 10px;
}

.star-main-event {
    background-image: url("../images/star.svg");
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    margin-top: -6px;
    filter: invert(68%) sepia(48%) saturate(7005%) hue-rotate(5deg) brightness(101%) contrast(103%);
}

.pr-news {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
}

.pr-item {
    width: 47%;
    position: relative;
    margin-bottom: 20px;
    margin-left: 2%;
}

.pr-item-img {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
}

.pr-item-img img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 220px;
}

.pr-item-img:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
}

.ft-it {
    position: absolute;
    bottom: 25px;
}

.rat-pr-item {
    padding: 6px 10px;
    margin: 15px;
    background-color: #fff;
    font-family: "Cabin-Bold";
    font-size: 12px;
    color: #000;
    border-radius: 20px;
}

.pr-item h2 {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 18px;
    font-family: "Cabin-Bold";
    color: #fff;
}

.pr-item-cats {
    margin-top: 3px;
    margin-left: 15px;
    font-size: 14px;
    font-family: "Cabin-Bold";
    color: #afafaf;
}

.pr-item-cats span {
    margin-right: 5px;
}


/*footer*/

.footerWrap {
    width: 1200px;
    margin: auto;
    padding-top: 70px;
}

.flow-flex {
    display: flex;
    justify-content: space-between;
}

.ft-logo {
    width: 50%;
    margin-bottom: 40px;
}

.footerlogo {
    font-family: "Cabin-Bold";
    font-size: 40px;
    margin-bottom: 30px;
}

.footerlogo span {
    color: red;
}

.infus h2 {
    margin-bottom: 10px;
    font-size: 23px;
    font-family: "Cabin-Bold";
    color: rgb(47, 47, 47);
}

.infus span {
    font-size: 19px;
    font-family: "Cabin-Bold";
    color: #b1b1b1;
}

.subscribe {
    width: 30%;
}

.subscribe h2 {
    color: #2b2d42;
    font-size: 28px;
    font-family: "Cabin-Bold";
    margin-bottom: 10px;
}

.subscribe input {
    width: 300px;
    padding: 17px 30px 17px 15px;
    font-size: 14px;
    font-family: "Cabin-Regular";
    background-color: #eeeeee;
    border: none;
    outline: none;
}

.subscribe input::placeholder {
    color: #b6b6b6;
}

.poweredBy {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: "Cabin-bold";
}


/*fullstory*/

.full-story {
    width: 100%;
    min-height: 100vh;
    margin-bottom: 50px;
}

.info-w-c {
    position: relative;
    margin-top: -150px;
    height: 600px;
}

.full-cover-photo {
    overflow: hidden;
    height: 600px;
}

.full-cover-photo img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    object-fit: cover;
    width: 105%;
    margin-left: -24px;
    min-height: 600px;
    filter: blur(8px);
    -webkit-filter: blur(11px);
}

.full-cover-photo:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #1d3557;
    opacity: 0.7;
}

.inf-full-story {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.conentfull {
    overflow: hidden;
    position: absolute;
    top: 250px;
}

.title-fullstory {
    font-size: 35px;
    font-family: "Cabin-Bold";
    color: #fff;
}

.full-cateogrie {
    margin-top: 10px;
}

.full-cateogrie span {
    margin: 3px 10px 0 0;
    font-size: 16px;
    font-family: "Cabin-regular";
    color: #ddd;
}

.watch-web {
    margin-top: 15px;
}

.watch-me {
    margin-right: 10px;
    padding: 11px 16px;
    font-size: 14px;
    font-family: "Cabin-Regular";
    color: #fff;
    border-radius: 30px;
    background-color: #ef233c;
    border: none;
    outline: none;
    cursor: pointer;
}

.watch-me:hover .play-icon-full {
    transform: rotate(90deg);
}

.play-icon-full {
    float: right;
    width: 17px;
    margin-left: 10px;
    margin-top: 1px;
    filter: invert(100%) sepia(81%) saturate(482%) hue-rotate(176deg) brightness(102%) contrast(91%);
    opacity: 0.7;
    transition: 0.4s;
}

.recomended {
    margin-right: 10px;
    padding: 11px 16px;
    font-size: 14px;
    font-family: "Cabin-Regular";
    color: #fff;
    border-radius: 30px;
    background: none;
    border: 1px solid #ef233c;
    outline: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

.recomended:hover {
    color: #ef233c;
}

.ps-rt-ft {
    position: relative;
    margin-top: -210px;
    display: flex;
    justify-content: space-between;
}

.full-pg-poster {
    position: relative;
    width: 200px;
    overflow: hidden;
    border-radius: 20px;
}

.full-pg-poster img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 200px;
}

.about-mov {
    display: flex;
    position: absolute;
    top: 130px;
    left: 240px;
}

.each-mov-inf {
    margin: 15px;
}

.each-mov-inf h2 {
    margin-bottom: 5px;
    font-family: "Cabin-Bold";
    font-size: 15px;
    color: #c2c2c2;
}

.each-mov-inf span {
    font-family: "Cabin-Bold";
    font-size: 16px;
    color: #fff;
}

.rating-mov {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.rating-mov span {
    display: flex;
    justify-content: center;
    font-size: 42px;
    font-family: "Cabin-Bold";
    color: #fff;
}

.information-mv {
    position: relative;
    z-index: 1;
    margin-top: 5px;
    margin-left: 240px;
}

.details {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 15px;
    margin-right: 30px;
    border-radius: 10px;
}

.content-mv {
    padding: 15px;
    margin-top: 30px;
    margin-right: 30px;
    border: 1px solid #dddddd;
    border-radius: 10px;
}

.details h3 {
    margin-bottom: 5px;
    font-size: 18px;
    font-family: "Cabin-Regular";
    color: #000;
}

.details span {
    font-size: 15px;
    font-family: "Cabin-Regular";
    color: rgb(87, 87, 87);
}

.content-mv h3 {
    margin-bottom: 5px;
    font-size: 18px;
    font-family: "Cabin-Regular";
    color: #000;
}

.content-mv span {
    font-size: 15px;
    font-family: "Cabin-Regular";
    color: rgb(87, 87, 87);
}

.actors {
    margin: 50px 0 0 0;
}

.actors-inf {
    overflow: hidden;
    border-radius: 10px;
}

.actor-each {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid#f1f1f1;
    transition-duration: 0.3s;
    cursor: pointer;
}

.actor-each:hover {
    background-color: #edf2f4;
}

.cl-act {
    position: relative;
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px 5px;
}

.actor-image {
    position: absolute;
    top: 15%;
    transform: translateY(-15%);
    width: 60px;
}

.actor {
    margin: 12px;
    padding: 15px 0px 0;
    display: flex;
}

.actor h4 {
    font-size: 14px;
    font-family: "Cabin-Bold";
    color: #bbbbbb;
    margin-bottom: 4px;
}

.actor h3 {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: "Cabin-Bold";
    color: #2b2d42;
    width: 350px;
}

.more-actors {
    overflow: hidden;
    height: 0px;
}

.more-actors-show {
    height: auto;
}

.showBtn {
    margin-top: 10px;
    padding: 11px 16px;
    font-size: 14px;
    font-family: "Cabin-Regular";
    color: #ef233c;
    border-radius: 30px;
    background: none;
    border: 1px solid #ef233c;
    outline: none;
    cursor: pointer;
}

.headings-full {
    margin-bottom: 20px;
}

.t-actors {
    margin-bottom: 2px;
    font-size: 32px;
    font-family: "Cabin-Bold";
    color: #1d3557;
}

.photos-full .t-actors {
    color: #ef233c;
}

.t-actors-span {
    font-family: "Cabin-Regular";
    font-size: 17px;
    color: rgb(194, 194, 194);
    padding-bottom: 10px;
}

.ph-vd {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.videos-full,
.photos-full {
    width: 47%;
}

.iframe-video {
    border-radius: 10px;
    height: 313px;
    overflow: hidden;
}

.posters {
    display: flex;
    flex-flow: wrap;
}

.screenshots {
    width: 45%;
    height: 155px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 5px;
}

.screenshots:nth-child(1) {
    border-top-left-radius: 10px;
}

.screenshots:nth-child(2) {
    border-top-right-radius: 10px;
}

.screenshots:nth-child(3) {
    border-bottom-left-radius: 10px;
}

.screenshots:nth-child(4) {
    border-bottom-right-radius: 10px;
}

.screenshots img {
    max-height: 160px;
}

.more-like-this {
    margin-top: 50px;
    white-space: nowrap;
    overflow-x: scroll;
}

.title-more-like h2 {
    font-size: 35px;
    font-family: "Cabin-Bold";
    color: #1d3557;
}

.each-item-like {
    display: inline-block;
    vertical-align: top;
    width: 235px;
    margin-right: 1.2%;
    transition-delay: 0.5s;
    transition-duration: 0.3s;
    cursor: pointer;
}

.each-item-like:hover .like-poster img {
    transform: scale(1.1);
    transition-delay: 0s;
}

.like-poster {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.like-poster img {
    transition-duration: 0.3s;
    transition-delay: 0.2s;
    max-width: 100%;
}

.inf-like h2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 17px;
    font-family: "Cabin-Bold";
    color: #191919;
}

.cats-like {
    display: flex;
    justify-content: center;
}

.cats-like span {
    margin: 3px 7px;
    font-size: 14px;
    font-family: "Cabin-Bold";
    color: rgb(168, 168, 168);
}

.more-like-items {
    margin-top: 25px;
}

.storyline {
    margin-top: 50px;
}

.storyline span {
    display: block;
    font-size: 14px;
    padding: 10px;
    font-family: "Cabin-Regular";
    color: #868686;
    margin-bottom: 10px;
    border-bottom: 1px solid#cccccc;
}

.storyline span h3 {
    margin-bottom: 10px;
    font-size: 17px;
    color: #000;
}

.resp-watch {
    display: none;
}

.full-img-owl {
    height: 350px;
}


/*footer*/

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #faf4f4;
}