* {
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #faf4f4;
}

.wall {
    max-width: 1200px;
    width: 100%;
    height: 0px;
    margin: auto;
}


/**header**/

header {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.logo {
    width: 13%;
}

nav {
    width: 67%;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 38px 10px;
}

nav ul li a {
    font-size: 15px;
    font-family: "Cabin-Regular";
    color: #bababa;
}

.login {
    display: flex;
    margin: 26px 0px;
}

.sign-in {
    padding: 10px 25px;
    background-color: #e63946;
    font-size: 11.4pt;
    font-family: "Cabin-Regular";
    color: #fff;
    border-radius: 4px;
}

.sign-up {
    margin: 10px 15px;
    font-size: 11.4pt;
    font-family: "Cabin-Regular";
    color: #fff;
}


/*news-feature*/

.news-feature {
    width: 1200px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    margin-bottom: 120px;
}


/*first type news*/

.first-news-item {
    position: relative;
    width: 680px;
    transition-duration: 0.3s;
}

.cover-fr-nw-it {
    position: relative;
    height: 360px;
    overflow: hidden;
    border-radius: 10px;
}

.shad-fr-nw {
    position: absolute;
    top: 0px;
    background-color: #2a2a2a;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.cover-fr-nw-it {
    transition-duration: 0.3s;
}

.cover-fr-nw-it img {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.first-news-item:hover .cover-fr-nw-it:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.see-more-fr {
    position: absolute;
    left: 50%;
    transform: translateX(-40%);
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    opacity: 0;
    transition: 0.3s;
    padding: 10px 20px;
    font-size: 13px;
    font-family: "Cabin-Bold";
    color: #fff;
    border: 1px solid#fff;
    border-radius: 2px;
    cursor: pointer;
}

.first-news-item:hover .see-more-fr {
    opacity: 1;
    z-index: 1;
}

.poster-fr-nw {
    display: inline-block;
    position: absolute;
    top: 185px;
    left: 20px;
    width: 190px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.poster-fr-nw img {
    width: 150%;
    min-height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.first-news-item:hover .poster-fr-nw {
    margin-top: -20px;
}

.inf-fr-nw {
    position: relative;
    display: inline-block;
    margin-left: 230px;
    margin-right: 40px;
}

.inf-fr-nw h2 {
    position: absolute;
    bottom: 69px;
    font-family: "Cabin-Bold";
    font-size: 23px;
    color: #edf2f4;
}

.inf-fr-nw article {
    margin-top: 8px;
    font-family: "Cabin-Regular";
    font-size: 15px;
    color: #939393;
}

.aditional-fr-nw {
    top: 420px;
    padding-top: 60px;
    padding-bottom: 10px;
    left: 20px;
    position: absolute;
    margin-top: 60px;
    visibility: hidden;
    transition-duration: 0.3s;
}

.inf-fr {
    padding-top: 8px;
}

.inf-fr img {
    opacity: 0;
}

.first-news-item:hover .inf-fr img {
    margin-top: -2px;
    float: left;
    margin-right: 10px;
    filter: invert(38%) sepia(97%) saturate(6841%) hue-rotate(343deg) brightness(98%) contrast(92%);
    opacity: 1;
}

.inf-fr span {
    opacity: 0;
    font-family: "Cabin-Regular";
    color: #ababab;
}

.first-news-item:hover .inf-fr span {
    opacity: 1;
}

.first-news-item:hover .aditional-fr-nw {
    visibility: visible;
    margin-top: -10px;
}


/*second-type news section news feature*/

.second-type-item {
    display: flex;
    width: 500px;
    margin-left: 20px;
    margin-bottom: 30px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
    padding-right: 15px;
}

.second-type-item:hover {
    background-color: #fff;
    box-shadow: 0 0 10px rgb(236, 235, 235);
}

.ps-tp-it {
    display: flex;
    position: relative;
    width: 200px;
    height: 120px;
}

.ps-tp-it img {
    min-width: 200px;
    width: 100%;
    border-radius: 10px;
}

.inf-sc-tp-i {
    margin-top: 20px;
    margin-left: 15px;
}

.inf-sc-tp-i h2 {
    margin-top: 10px;
    font-family: "Cabin-Bold";
    font-size: 20px;
    color: #282828;
}

.inf-sc-tp-i span {
    font-family: "Cabin-Regular";
    color: #ababab;
}

.date-sc-tp-i {
    float: left;
    margin-top: -2px;
    margin-right: 10px;
    filter: invert(38%) sepia(97%) saturate(6841%) hue-rotate(343deg) brightness(98%) contrast(92%);
}


/*wraper-content*/

.wraper-content {
    background-color: #f1f1f1;
}

.wall-0 {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 70px;
}


/*featured-today*/

.featured-today {
    margin-bottom: 95px;
}

.title-section-featured {
    margin-top: 50px;
    margin-bottom: 30px;
}

.title-section-featured h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    font-size: 32px;
    font-family: "Cabin-Bold";
    color: #1d3557;
}

.title-section-featured span {
    display: flex;
    justify-content: center;
    font-family: "Cabin-Regular";
    font-size: 20px;
    color: rgb(194, 194, 194);
}


/*featured news*/

.sec-ft-nw {
    position: relative;
    display: inline-block;
    width: 224px;
    margin-right: 15px;
    cursor: pointer;
}

.sec-ft-nw:hover .img-sec-ft {
    z-index: 2;
}

.sec-ft-nw .information-hovered {
    position: absolute;
    top: 50px;
    left: -50px;
    overflow: hidden;
    height: 350px;
    width: 0px;
    color: #fff;
    border-radius: 30px;
    z-index: 0;
    opacity: 0;
}

.sec-ft-nw .lefter {
    position: relative;
    margin-top: 40px;
    margin-left: 300px;
    height: 100%;
}

.sec-ft-nw:hover .information-hovered {
    position: absolute;
    background-color: #fff;
    height: 350px;
    width: 700px;
    opacity: 1;
    z-index: 1;
    transition-duration: 0.4s;
    transition-delay: 0.1s;
}

.lefter h2 {
    color: #fff !important;
}

.sec-ft-nw:hover .lefter h2 {
    font-size: 26px;
    font-family: "Cabin-Bold";
    color: #000 !important;
}

.sec-ft-nw:hover .lefter h3 {
    font-size: 14px;
    font-family: "Cabin-Bold";
    color: #727272;
    margin-right: 10px;
}

.sec-ft-nw:hover .lefter span {
    font-size: 14px;
    font-family: "Cabin-Bold";
    color: #c2c2c2;
    margin-right: 10px;
}

.sec-ft-nw:hover .lefter article {
    margin-top: 20px;
    color: rgb(112, 112, 112);
    font-family: "Cabin-Regular";
    font-size: 16px;
}

.sec-ft-nw:hover .seemore {
    position: absolute;
    padding: 15px 20px;
    bottom: 100px;
    right: 20px;
    color: #000;
    background-color: #f1f1f1;
    font-family: "Cabin-Bold";
    border-radius: 10px;
    transition: 0.3s;
}

.sec-ft-nw:hover .seemore:hover {
    background-color: #e63946;
    color: #fff;
}


/*nth 4 child*/

.sec-ft-nw:nth-child(5) .information-hovered {
    position: absolute;
    top: 50px;
    right: -50px;
    left: auto;
    overflow: hidden;
    height: 350px;
    width: 0px;
    color: #fff;
    border-radius: 30px;
    z-index: 0;
    opacity: 0;
}

.sec-ft-nw:nth-child(5):hover .information-hovered {
    position: absolute;
    background-color: #fff;
    height: 350px;
    width: 700px;
    opacity: 1;
    z-index: 1;
    transition-duration: 0.4s;
    transition-delay: 0.1s;
}

.sec-ft-nw:nth-child(5) .lefter {
    position: relative;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 300px;
    height: 100%;
}

.sec-ft-nw:nth-child(5):hover .seemore {
    position: absolute;
    padding: 15px 20px;
    bottom: 100px;
    right: auto;
    color: #000;
    background-color: #f1f1f1;
    font-family: "Cabin-Bold";
    border-radius: 10px;
    transition: 0.3s;
}

.sec-ft-nw:nth-child(5):hover .seemore:hover {
    background-color: #e63946;
    color: #fff;
}


/*lastchild*/

.sec-ft-nw:last-child .information-hovered {
    position: absolute;
    top: 50px;
    right: -50px;
    left: auto;
    overflow: hidden;
    height: 350px;
    width: 0px;
    color: #fff;
    border-radius: 30px;
    z-index: 0;
    opacity: 0;
}

.sec-ft-nw:last-child:hover .information-hovered {
    position: absolute;
    background-color: #fff;
    height: 350px;
    width: 700px;
    opacity: 1;
    z-index: 1;
    transition-duration: 0.4s;
    transition-delay: 0.1s;
}

.sec-ft-nw:last-child .lefter {
    position: relative;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 300px;
    height: 100%;
}

.sec-ft-nw:last-child:hover .seemore {
    position: absolute;
    padding: 15px 20px;
    bottom: 100px;
    right: auto;
    color: #000;
    background-color: #f1f1f1;
    font-family: "Cabin-Bold";
    border-radius: 10px;
    transition: 0.3s;
}

.sec-ft-nw:last-child:hover .seemore:hover {
    background-color: #e63946;
    color: #fff;
}

.sec-ft-nw:hover .rat-sec-ft {
    z-index: 2;
}

.sec-ft-nw:last-child {
    margin-right: 0px;
}

.img-sec-ft {
    position: relative;
    widows: 240px;
    height: 320px;
    margin-bottom: 13px;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0 6px 4px -4px rgb(112, 112, 112);
    -moz-box-shadow: 0 6px 4px -4px rgb(112, 112, 112);
    box-shadow: 0 6px 4px -4px rgb(112, 112, 112);
}

.img-sec-ft img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    max-width: 250px;
}

.rat-sec-ft {
    position: absolute;
    top: 283px;
    right: 10px;
    padding: 7px 12px;
    font-size: 10pt;
    font-family: "Cabin-Bold";
    color: #2b2b2b;
    background-color: #fff;
    border-radius: 20px;
}

.sec-ft-nw h2 {
    margin-bottom: 7px;
    font-size: 17px;
    font-family: "Cabin-Bold";
    color: #191919;
}

.sec-ft-sp span {
    margin-right: 10px;
    font-size: 14px;
    font-family: "Cabin-Bold";
    color: #afafaf;
}

.sec-ft-nw-last {
    position: relative;
    float: right;
    width: 410px;
}

.img-sec-ft-last {
    position: relative;
    width: 410px;
    height: 260px;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 30px;
}

.img-sec-ft-last img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    max-width: 500px;
}

.rat-sec-ft-last {
    position: absolute;
    top: 213px;
    right: 20px;
    padding: 7px 12px;
    font-size: 10pt;
    font-family: "Cabin-Bold";
    color: #2b2b2b;
    background-color: #fff;
    border-radius: 20px;
}

.sec-ft-nw-last h2 {
    margin-left: 20px;
    margin-bottom: 7px;
    font-size: 17px;
    font-family: "Cabin-Bold";
    color: #191919;
}

.sec-ft-sp-last {
    margin-left: 20px;
}

.sec-ft-sp-last span {
    margin-right: 10px;
    font-size: 14px;
    font-family: "Cabin-Bold";
    color: #afafaf;
}


/*top pics*/

.top-pics {
    overflow: hidden;
    margin-bottom: 90px;
}

.title-section-top-pics {
    position: relative;
    margin-bottom: 35px;
}

.owl-s {
    display: inline-block;
    margin-right: 50px;
}

.sl-changer {
    display: inline-block;
    vertical-align: top;
}

.title-section-top-pics h2 {
    margin-bottom: 2px;
    font-size: 32px;
    font-family: "Cabin-Bold";
    color: #1d3557;
}

.title-section-top-pics span {
    font-family: "Cabin-Regular";
    font-size: 20px;
    color: rgb(194, 194, 194);
}

.sl-cr-owl {
    position: relative;
    width: 100%;
    white-space: nowrap;
    transition: 0.3s;
}

.news-owl {
    position: relative;
    top: 0;
    display: inline-block;
    width: 285px;
    margin-left: 20px;
    margin-right: -4px;
    font-size: 0;
    transition: 0.3s;
}

.news-owl:hover {
    top: -10px;
    cursor: pointer;
    transition: 0.3s;
}

.news-owl:nth-child(1) {
    margin-left: 0px;
}

.news-owl:nth-child(5n) {
    margin-left: 0px;
}

.img-owl-cr {
    position: relative;
    width: 282px;
    height: 420px;
    overflow: hidden;
    border-radius: 10px;
}

.img-owl-cr img {
    position: relative;
    max-width: 290px;
    left: 50%;
    transform: translateX(-50%);
}

.img-owl-cr:after {
    content: "";
    position: absolute;
    width: 282px;
    height: 420px;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.3;
}

.inf-cr-owl {
    position: absolute;
    bottom: 20px;
    left: 15px;
    z-index: 1;
}

.rating-owl {
    position: absolute;
    bottom: 48px;
    padding: 7px 12px;
    background-color: #fff;
    font-family: "Cabin-Regular";
    font-size: 11pt;
    color: #000;
    border-radius: 30px;
}

.inf-cr-owl h2 {
    font-family: "Cabin-Bold";
    font-size: 13pt;
    color: #fff;
}

.cat-owl {
    margin-top: 5px;
}

.cat-owl span {
    margin-right: 7px;
    font-size: 14px;
    font-family: "Cabin-Bold";
    color: #c2c2c2;
}

.add-inf-show {
    position: relative;
    top: 50px;
    background: red;
    z-index: 4;
}

.sl-changer {
    margin-top: 2px;
}

.next,
.prew {
    display: inline-block;
    vertical-align: top;
}

.next {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background-color: #2b2d42;
    margin-left: 5px;
    cursor: pointer;
}

.prew {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background-color: #e0e8eb;
    cursor: pointer;
}

.arrow-x {
    position: absolute;
    display: grid;
    top: 35%;
    left: 35%;
    width: 15px;
    height: 15px;
    transform: rotate(180deg);
    background-image: url("../images/arrow.svg");
    filter: invert(100%) sepia(40%) saturate(2947%) hue-rotate(174deg) brightness(84%) contrast(91%);
}

.arrow-y {
    position: absolute;
    display: grid;
    top: 30%;
    left: 30%;
    width: 15px;
    height: 15px;
    background-image: url("../images/arrow.svg");
    filter: invert(55%) sepia(30%) saturate(232%) hue-rotate(182deg) brightness(88%) contrast(88%);
}


/*inTheaters*/

.content-theaters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.main-event {
    width: 700px;
}

.img-main-event {
    display: flex;
    width: 700px;
    height: 480px;
    border-radius: 10px;
    overflow: hidden;
}

.img-main-event img {
    max-width: 1000px;
}

.main-event h3 {
    margin-top: 18px;
    font-size: 16px;
    font-family: "Cabin-Bold";
    color: #f77f00;
}

.main-event h2 {
    margin-top: 5px;
    font-size: 22px;
    font-family: "Cabin-Bold";
    color: #000;
}

.categories-item-main {
    margin-top: 5px;
    font-family: "Cabin-Bold";
    color: #afafaf;
}

.categories-item-main span {
    margin-right: 10px;
}

.star-main-event {
    background-image: url("../images/star.svg");
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    margin-top: -6px;
    filter: invert(68%) sepia(48%) saturate(7005%) hue-rotate(5deg) brightness(101%) contrast(103%);
}

.pr-news {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
}

.pr-item {
    width: 220px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 20px;
}

.pr-item-img {
    position: relative;
    width: 220px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
}

.pr-item-img img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 220px;
}

.pr-item-img:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
}

.ft-it {
    position: absolute;
    bottom: 25px;
}

.rat-pr-item {
    padding: 6px 10px;
    margin: 15px;
    background-color: #fff;
    font-family: "Cabin-Bold";
    font-size: 12px;
    color: #000;
    border-radius: 20px;
}

.pr-item h2 {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 18px;
    font-family: "Cabin-Bold";
    color: #fff;
}

.pr-item-cats {
    margin-top: 3px;
    margin-left: 15px;
    font-size: 14px;
    font-family: "Cabin-Bold";
    color: #afafaf;
}

.pr-item-cats span {
    margin-right: 5px;
}


/*footer*/

.footerWrap {
    width: 1200px;
    margin: auto;
    padding-top: 70px;
}

.flow-flex {
    display: flex;
    justify-content: space-between;
}

.ft-logo {
    width: 50%;
    margin-bottom: 40px;
}

.footerlogo {
    font-family: "Cabin-Bold";
    font-size: 40px;
    margin-bottom: 30px;
}

.footerlogo span {
    color: red;
}

.infus h2 {
    margin-bottom: 10px;
    font-size: 23px;
    font-family: "Cabin-Bold";
    color: rgb(47, 47, 47);
}

.infus span {
    font-size: 19px;
    font-family: "Cabin-Bold";
    color: #b1b1b1;
}

.subscribe {
    width: 30%;
}

.subscribe h2 {
    color: #2b2d42;
    font-size: 28px;
    font-family: "Cabin-Bold";
    margin-bottom: 10px;
}

.subscribe input {
    width: 300px;
    padding: 17px 30px 17px 15px;
    font-size: 14px;
    font-family: "Cabin-Regular";
    background-color: #eeeeee;
    border: none;
    outline: none;
}

.subscribe input::placeholder {
    color: #b6b6b6;
}

.poweredBy {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: "Cabin-bold";
}


/*responsive*/

@media screen and (max-width: 1280px) {
    header {
        padding: 0 20px;
    }
    .featured-today {
        padding: 0 30px;
    }
    .sec-ft-nw {
        width: 210px;
    }
    .sec-ft-nw:hover .information-hovered {
        margin-left: 15px;
    }
    .sec-ft-nw:nth-child(5) .information-hovered {
        margin-right: 15px;
    }
    .sec-ft-nw:last-child .information-hovered {
        margin-right: 15px;
    }
    .footerWrap {
        padding: 50px 20px 0px;
    }
}

@media screen and (max-width: 1136px) {
    header {
        padding: 0 20px;
    }
    .news-feature {
        width: 100%;
        padding: 0 20px;
    }
    .first-news-item {
        width: 600px;
    }
    .poster-fr-nw {
        width: 170px;
        height: 250px;
    }
    .inf-fr-nw h2 {
        font-size: 20px;
        bottom: 80px;
    }
    .first-news-item:hover .aditional-fr-nw {
        margin-top: -55px;
    }
    .second-type-item {
        width: 400px;
    }
    .inf-sc-tp-i h2 {
        font-size: 17px;
    }
    .inf-sc-tp-i span {
        font-size: 14px;
    }
    .date-sc-tp-i {
        margin-top: 0px;
    }
    /*ft*/
    .featured-today {
        padding: 0 30px;
    }
    .sec-ft-nw {
        width: 188px;
    }
    .img-sec-ft {
        height: 250px;
    }
    .rat-sec-ft {
        top: 210px;
    }
    .sec-ft-nw:hover .information-hovered {
        top: 20px;
        height: 290px;
    }
    .sec-ft-nw .lefter {
        margin-left: 250px;
    }
    .sec-ft-nw:hover .lefter h2 {
        font-size: 17px;
    }
    .sec-ft-nw:hover .information-hovered {
        width: 500px;
    }
    .sec-ft-nw:hover .lefter article {
        max-height: 49px;
        overflow: hidden;
    }
    .sec-ft-nw:hover .information-hovered {
        margin-left: 25px;
    }
    .sec-ft-nw:nth-child(5):hover .information-hovered {
        width: 500px;
        height: 290px;
    }
    .sec-ft-nw:nth-child(5) .lefter {
        margin-right: 250px;
    }
    .sec-ft-nw:last-child .lefter {
        margin-right: 250px;
    }
    .sec-ft-nw:last-child:hover .information-hovered {
        width: 500px;
        height: 290px;
    }
    .sec-ft-nw:nth-child(5) .information-hovered {
        margin-right: 25px;
    }
    .sec-ft-nw:last-child .information-hovered {
        margin-right: 25px;
    }
    /*top-pics*/
    .top-pics {
        width: 100%;
        padding: 0 20px;
    }
    .sl-carousel {
        width: 1045px;
        width: 100%;
        overflow: hidden;
    }
    .news-owl {
        width: 245px;
    }
    .img-owl-cr {
        width: 245px;
        height: 350px;
    }
    .news-owl:nth-child(4n) {
        margin-right: 3px;
    }
    .news-owl:hover {
        top: 0px;
    }
    /*theaters*/
    .in-theatres {
        width: 100%;
        padding: 0 20px;
    }
    .main-event {
        width: 600px;
    }
    .img-main-event {
        width: 600px;
        height: 400px;
    }
    .pr-news {
        margin-left: 0px;
    }
    .pr-item {
        width: 195px;
    }
    .pr-item-img {
        width: 200px;
        height: 220px;
    }
    .ft-it {
        bottom: 15px;
    }
    .pr-item h2 {
        font-size: 15px;
    }
    /*footer*/
    .footerWrap {
        width: 100%;
        padding: 50px 20px 0px;
    }
}

@media screen and (max-width: 1024px) {
    .cover-fr-nw-it {
        height: 280px;
    }
    .inf-fr-nw {
        margin-left: 180px;
    }
    .inf-fr-nw:hover .inf-fr {
        margin-top: 110px;
    }
    .inf-fr-nw h2 {
        font-size: 16px;
        top: -70px;
    }
    .inf-fr-nw article {
        font-size: 12px;
    }
    .poster-fr-nw {
        width: 150px;
        height: 220px;
    }
    .aditional-fr-nw {
        display: none;
    }
    .news-feature {
        margin-top: 0px;
        margin-bottom: 60px;
    }
    .ps-tp-it {
        width: 150px;
        height: 100px;
    }
    .ps-tp-it img {
        min-width: 150px;
    }
    .inf-sc-tp-i h2 {
        font-size: 13px;
    }
    .sec-ft-nw {
        width: 152px;
        position: relative;
        top: 0;
        transition: 0.3s;
    }
    .sec-ft-nw:hover {
        transition: 0.3s;
        top: -5px;
    }
    .img-sec-ft {
        height: 210px;
    }
    .img-sec-ft img {
        max-width: 210px;
    }
    .rat-sec-ft {
        top: 180px;
        font-size: 7pt;
    }
    .sec-ft-nw h2 {
        font-size: 15px;
    }
    .sec-ft-sp span {
        font-size: 13px;
    }
    .sec-ft-nw .information-hovered {
        display: none;
    }
    /*news-owl*/
    .news-owl {
        width: 198px;
    }
    .img-owl-cr {
        width: 200px;
        height: 300px;
    }
    /* .news-owl:nth-child(4n) {
        margin-left: 10px;
    } */
    .news-owl:nth-child(5n) {
        margin-right: 0px;
    }
    .inf-cr-owl h2 {
        font-size: 11pt;
    }
    .cat-owl span {
        font-size: 9pt;
    }
    .rating-owl {
        bottom: 40px;
        font-size: 9pt;
    }
    .owl-s h2 {
        font-size: 21px;
    }
    .owl-s span {
        font-size: 17px;
    }
    .sl-changer {
        margin-top: 0px;
    }
    /*main-event*/
    .main-event {
        width: 480px;
    }
    .img-main-event {
        width: 480px;
        height: 300px;
    }
    .main-event h3 {
        font-size: 13px;
    }
    .main-event h2 {
        font-size: 18px;
        margin-top: 10px;
    }
    .categories-item-main span {
        font-size: 13px;
    }
    /*pr-item*/
    .pr-item {
        width: 167px;
    }
    .pr-item-img {
        width: 167px;
        height: 190px;
    }
    /*footer*/
    .footerlogo {
        font-size: 25px;
    }
    .infus h2 {
        font-size: 17px;
    }
    .infus span {
        font-size: 15px;
    }
    .subscribe input {
        width: 100%;
    }
    .subscribe h2 {
        font-size: 17px;
    }
    .subscribe input {
        font-size: 12px;
    }
    .poweredBy {
        font-size: 12px;
    }
    /*nav*/
    nav ul {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    /* start of large tablet styles */
}

@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
}

@media screen and (max-width: 479px) {
    /* start of phone styles */
}