.heading-category {
    overflow: hidden;
    margin-top: -100px;
    width: 100%;
    height: 300px;
    background-image: url("../images/background-movie.png");
    object-fit: cover;
}

.content-categories {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    margin-top: 150px;
}

.title-category {
    font-size: 35px;
    font-family: "Cabin-bold";
    color: rgb(204, 204, 204);
}

.title-category span {
    font-size: 25px;
    color: #e63946;
}

.filter {
    display: flex;
}

.classFlt {
    display: flex;
}

.filter-types {
    margin: 20px 40px 20px 0;
}

.catfiltertitle {
    padding: 20px 20px 20px 30px;
    font-size: 20px;
    background-color: #1d1d1d;
    font-family: "Cabin-Regular";
    color: rgb(185, 185, 185);
    border-radius: 10px;
    cursor: pointer;
}

.colorchange {
    color: red;
}

.catfiltertitle img {
    float: right;
    margin: 1px 9px;
    width: 20px;
    transform: rotate(90deg);
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(3deg) brightness(104%) contrast(101%);
}

.categories-drop {
    display: none;
}

.categories-drop {
    width: 600px;
    padding: 10px;
    background: #fff;
    position: absolute;
    z-index: 3;
    margin-top: 95px;
    border-radius: 10px;
    border: 1px solid#ececec;
}

.categories-drop ul {
    display: flex;
    flex-wrap: wrap;
}

.categories-drop ul li a {
    display: block;
    margin-right: 9px;
    margin-bottom: 10px;
    padding: 15px 25px;
    background-color: rgb(243, 243, 243);
    text-align: center;
    font-family: "Cabin-Regular";
    color: rgb(63, 63, 63);
    font-size: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.categories-drop ul li a:hover {
    background-color: #e63946;
    color: #f1f1f1;
}

.change-data {
    display: inline-block;
    margin: 20px;
}

.change-data p {
    float: left;
    font-family: "Cabin-Bold";
    margin-top: 18px;
}

.change-data input {
    padding: 20px 10px;
    border: none;
    outline: none;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-left: 10px;
}

.change-data input::placeholder {
    font-family: "Cabin-Bold";
}

.show-drop {
    display: block;
}

.slidecontainer {
    width: 40%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin-bottom: 15px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #ffba08;
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #faa307;
    cursor: pointer;
}

#value {
    margin: 10px;
    font-size: 19px;
    font-family: "Cabin-Bold";
    color: #faa307;
}

.slidecontainer p {
    margin: 10px;
    font-size: 19px;
    font-family: "Cabin-Bold";
    color: #faa307;
}

.slidecontainer p img {
    position: absolute;
    bottom: 8px;
    filter: invert(52%) sepia(79%) saturate(1632%) hue-rotate(4deg) brightness(103%) contrast(95%);
}

.slidecontainer {
    float: right;
    margin: 30px;
    position: relative;
}


/*search-filter*/

.search-filter {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.filter-widthsearch {
    display: flex;
    justify-content: center;
}

.filter-widthsearch span {
    margin: 10px;
    font-size: 16px;
    font-family: "Cabin-Bold";
    transition-duration: 0.3s;
    cursor: pointer;
}

.filter-widthsearch span:hover {
    color: #e63946;
}

.colorful {
    color: #e63946;
}

.searchform {
    position: relative;
    display: flex;
    justify-content: center;
}

#search-form {
    width: 350px;
    padding: 15px;
    background-color: #fff;
    border-radius: 30px;
    border: none;
    outline: none;
    font-family: "Cabin-Bold";
}

.searchform img {
    position: absolute;
    margin-left: 299px;
    margin-top: 13px;
    width: 20px;
    filter: invert(67%) sepia(2%) saturate(0%) hue-rotate(33deg) brightness(93%) contrast(91%);
}


/*news-section*/

.news-section {
    margin-top: 15px;
    background-color: #f1f1f1;
}

.wall-news {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    padding: 70px 0;
    padding: auto;
}

.news-content {
    margin-left: 40px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, 1fr);
}

.news {
    position: relative;
    width: 160px;
    margin-bottom: 70px;
    cursor: pointer;
    row-gap: 20px;
}


/* 
.news:nth-child(5n) {
    margin-right: 0px;
} */

.news-img {
    position: relative;
    width: 160px;
    height: 240px;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0 6px 4px -4px rgb(112, 112, 112);
    -moz-box-shadow: 0 6px 4px -4px rgb(112, 112, 112);
    box-shadow: 0 6px 4px -4px rgb(112, 112, 112);
}

.news-img img {
    max-width: 170px;
}

.news-rating {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: #fff;
    font-family: "Cabin-Bold";
    font-size: 13px;
    text-align: center;
    color: black;
    border-radius: 30px;
}

.news:hover .news-rating {
    z-index: 2;
}

.h2-news {
    width: 130px;
    margin: auto;
    margin-top: 10px;
    font-size: 16px;
    font-family: "Cabin-Bold";
    color: rgb(51, 51, 51);
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.news-categories {
    display: flex;
    justify-content: center;
    margin-top: 3px;
    margin-bottom: 6px;
}

.news-categories span {
    font-size: 13px;
    font-family: "Cabin-Regular";
    color: rgb(116, 116, 116);
    margin-right: 5px;
}

.news .news-hover {
    position: absolute;
    top: 20px;
    left: -50px;
    overflow: hidden;
    height: 270px;
    width: 0px;
    color: #fff;
    border-radius: 30px;
    z-index: 0;
    opacity: 0;
}

.news:hover .news-hover {
    position: absolute;
    background-color: #fff;
    height: 270px;
    width: 600px;
    opacity: 1;
    z-index: 1;
    transition-duration: 0.4s;
    transition-delay: 0.1s;
}

.news:hover .news-img {
    z-index: 2;
}

.left-hovered {
    margin-left: 250px;
    margin-right: 20px;
    padding-top: 20px;
}

.news:hover .left-hovered h2 {
    font-size: 26px;
    font-family: "Cabin-Bold";
    color: #000 !important;
}

.news:hover .left-hovered h3 {
    font-size: 14px;
    font-family: "Cabin-Bold";
    color: #727272;
    margin-right: 10px;
}

.news:hover .left-hovered span {
    font-size: 14px;
    font-family: "Cabin-Bold";
    color: #c2c2c2;
    margin-right: 10px;
}

.news:hover .left-hovered article {
    margin-top: 20px;
    color: rgb(112, 112, 112);
    font-family: "Cabin-Regular";
    font-size: 14px;
}

.news:hover .seemore {
    position: absolute;
    padding: 15px 20px;
    bottom: 30px;
    right: 20px;
    color: #000;
    background-color: #f1f1f1;
    font-family: "Cabin-Bold";
    border-radius: 10px;
    transition: 0.3s;
}

.news:hover .seemore:hover {
    background-color: #e63946;
    color: #fff;
}

.news:nth-child(5n) .left-hovered {
    margin-right: 250px;
    margin-left: 20px;
    padding-top: 20px;
}

.news:nth-child(5n) .news-hover {
    position: absolute;
    top: 20px;
    right: -50px;
    left: auto;
    overflow: hidden;
    height: 270px;
    width: 0px;
    color: #fff;
    border-radius: 30px;
    z-index: 0;
    opacity: 0;
}

.news:nth-child(5n):hover .news-hover {
    position: absolute;
    background-color: #fff;
    height: 270px;
    width: 600px;
    opacity: 1;
    z-index: 1;
    transition-duration: 0.4s;
    transition-delay: 0.1s;
}

.news:nth-child(5n):hover .seemore {
    position: absolute;
    padding: 15px 20px;
    bottom: 30px;
    right: auto;
    color: #000;
    background-color: #f1f1f1;
    font-family: "Cabin-Bold";
    border-radius: 10px;
    transition: 0.3s;
}

.news:nth-child(5n):hover .seemore:hover {
    background-color: #e63946;
    color: #fff;
}


/**/

.news:nth-child(5n-1) .left-hovered {
    margin-right: 250px;
    margin-left: 20px;
    padding-top: 20px;
}

.news:nth-child(5n-1) .news-hover {
    position: absolute;
    top: 20px;
    right: -50px;
    left: auto;
    overflow: hidden;
    height: 270px;
    width: 0px;
    color: #fff;
    border-radius: 30px;
    z-index: 0;
    opacity: 0;
}

.news:nth-child(5n-1):hover .news-hover {
    position: absolute;
    background-color: #fff;
    height: 270px;
    width: 600px;
    opacity: 1;
    z-index: 1;
    transition-duration: 0.4s;
    transition-delay: 0.1s;
}

.news:nth-child(5n-1):hover .seemore {
    position: absolute;
    padding: 15px 20px;
    bottom: 30px;
    right: auto;
    color: #000;
    background-color: #f1f1f1;
    font-family: "Cabin-Bold";
    border-radius: 10px;
    transition: 0.3s;
}

.news:nth-child(5n-1):hover .seemore:hover {
    background-color: #e63946;
    color: #fff;
}