@media screen and (max-width: 1280px) {
    header {
        padding: 0 20px;
    }
    .featured-today {
        padding: 0 30px;
    }
    .sec-ft-nw {
        width: 204px;
    }
    .news-feature {
        width: 100%;
        padding: 0 20px;
    }
    .wall-0 {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .sec-ft-nw:hover .information-hovered {
        margin-left: 15px;
    }
    .sec-ft-nw:nth-child(4) .information-hovered {
        margin-right: 15px;
    }
    .sec-ft-nw:last-child .information-hovered {
        margin-right: 15px;
    }
    .footerWrap {
        padding: 50px 20px 0px;
    }
}

@media screen and (max-width: 1136px) {
    header {
        padding: 0 20px;
    }
    .news-feature {
        width: 100%;
        padding: 0 20px;
    }
    .first-news-item {
        width: 600px;
    }
    .poster-fr-nw {
        width: 170px;
        height: 250px;
    }
    .inf-fr-nw h2 {
        font-size: 20px;
        bottom: 80px;
    }
    .first-news-item:hover .aditional-fr-nw {
        margin-top: -55px;
    }
    .second-type-item {
        width: 400px;
    }
    .inf-sc-tp-i h2 {
        font-size: 17px;
    }
    .inf-sc-tp-i span {
        font-size: 14px;
    }
    .date-sc-tp-i {
        margin-top: 0px;
    }
    /*ft*/
    .featured-today {
        padding: 0 30px;
    }
    .sec-ft-nw {
        width: 180px;
    }
    .img-sec-ft {
        height: 250px;
    }
    .rat-sec-ft {
        top: 210px;
    }
    .sec-ft-nw:hover .information-hovered {
        top: 20px;
        height: 290px;
    }
    .sec-ft-nw .lefter {
        margin-left: 250px;
    }
    .sec-ft-nw:hover .lefter h2 {
        font-size: 17px;
    }
    .sec-ft-nw:hover .information-hovered {
        width: 500px;
    }
    .sec-ft-nw:hover .lefter article {
        max-height: 49px;
        overflow: hidden;
    }
    .sec-ft-nw:hover .information-hovered {
        margin-left: 25px;
    }
    .sec-ft-nw:nth-child(4):hover .information-hovered {
        width: 500px;
        height: 290px;
    }
    .sec-ft-nw:nth-child(4) .lefter {
        margin-right: 250px;
    }
    .sec-ft-nw:last-child .lefter {
        margin-right: 250px;
    }
    .sec-ft-nw:last-child:hover .information-hovered {
        width: 500px;
        height: 290px;
    }
    .sec-ft-nw:nth-child(4) .information-hovered {
        margin-right: 25px;
    }
    .sec-ft-nw:last-child .information-hovered {
        margin-right: 25px;
    }
    /*top-pics*/
    .top-pics {
        width: 100%;
        padding: 0 20px;
    }
    .sl-carousel {
        width: 1045px;
        width: 100%;
        overflow: hidden;
    }
    .img-owl-cr {
        width: 100%;
        height: 310px;
    }
    .news-owl:hover {
        top: 0px;
    }
    /*theaters*/
    .in-theatres {
        width: 100%;
        padding: 0 20px;
    }
    .ft-it {
        bottom: 15px;
    }
    .pr-item h2 {
        font-size: 15px;
    }
    /*footer*/
    .footerWrap {
        width: 100%;
        padding: 50px 20px 0px;
    }
}

@media screen and (max-width: 1024px) {
    .logo {
        margin: 0 auto;
    }
    .menu-responsive {
        display: block;
        margin-top: 10px;
    }
    .menu-responsive img {
        margin: 15px;
        width: 35px;
        filter: invert(100%) sepia(60%) saturate(13%) hue-rotate(242deg) brightness(103%) contrast(104%);
    }
    .cover-fr-nw-it {
        height: 280px;
    }
    .inf-fr-nw {
        margin-left: 180px;
    }
    .inf-fr-nw:hover .inf-fr {
        margin-top: 110px;
    }
    .inf-fr-nw h2 {
        font-size: 16px;
        top: -70px;
    }
    .inf-fr-nw article {
        font-size: 12px;
    }
    .poster-fr-nw {
        width: 150px;
        height: 220px;
    }
    .news-feature {
        margin-top: 0px;
        margin-bottom: 60px;
    }
    .ps-tp-it {
        width: 150px;
        height: 100px;
    }
    .ps-tp-it img {
        min-width: 150px;
    }
    .inf-sc-tp-i h2 {
        font-size: 13px;
    }
    .sec-ft-nw {
        margin-bottom: 40px;
        position: relative;
        top: 0;
        transition: 0.3s;
        width: 18.3%;
    }
    .img-sec-ft {
        height: 210px;
    }
    .img-sec-ft img {
        max-width: 210px;
    }
    .rat-sec-ft {
        top: 180px;
        font-size: 7pt;
    }
    .sec-ft-nw h2 {
        font-size: 15px;
    }
    .sec-ft-sp span {
        font-size: 13px;
    }
    .sec-ft-nw .information-hovered {
        display: none;
    }
    .inf-cr-owl h2 {
        font-size: 11pt;
    }
    .cat-owl span {
        font-size: 9pt;
    }
    .rating-owl {
        bottom: 40px;
        font-size: 9pt;
    }
    .owl-s h2 {
        font-size: 21px;
    }
    .owl-s span {
        font-size: 17px;
    }
    .sl-changer {
        margin-top: 0px;
    }
    .main-event h3 {
        font-size: 13px;
    }
    .main-event h2 {
        font-size: 18px;
        margin-top: 10px;
    }
    .categories-item-main span {
        font-size: 13px;
    }
    /*footer*/
    .footerlogo {
        font-size: 25px;
    }
    .infus h2 {
        font-size: 17px;
    }
    .infus span {
        font-size: 15px;
    }
    .subscribe input {
        width: 100%;
    }
    .subscribe h2 {
        font-size: 17px;
    }
    .subscribe input {
        font-size: 12px;
    }
    .poweredBy {
        font-size: 12px;
    }
    /*nav*/
    nav ul {
        display: none;
    }
    .content-ft {
        white-space: nowrap;
        overflow-x: scroll;
    }
    .content-ft::-webkit-scrollbar {
        width: 2px;
        height: 4px;
        cursor: pointer;
    }
    .content-ft::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 10px;
    }
    .content-ft::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #d1d1d1;
        cursor: pointer;
    }
    /*fullstory*/
    .inf-full-story {
        padding: 0 20px;
    }
    .iframe-video {
        height: 313px;
    }
}

@media screen and (max-width: 991px) {
    .menu-responsive img {
        margin: 6px;
        width: 30px;
    }
    .sl-in-f h2 {
        font-size: 11px;
    }
    .cover-fr-nw-it {
        height: 200px;
    }
    .poster-fr-nw {
        top: 90px;
        width: 120px;
        height: 170px;
    }
    .inf-fr-nw {
        margin-left: 150px;
    }
    .inf-fr-nw h2 {
        top: -60px;
        font-size: 12px;
    }
    .inf-fr-nw article {
        font-size: 10px;
    }
    .ps-tp-it {
        width: 130px;
        height: 80px;
    }
    .logo img {
        width: 100px;
        margin-left: 30px;
    }
    .ps-tp-it img {
        min-width: 100px;
        width: 130px;
        height: 80px;
    }
    .inf-sc-tp-i h2 {
        font-size: 11px;
    }
    .inf-sc-tp-i span {
        font-size: 10px;
    }
    .date-sc-tp-i {
        margin-top: 2px;
        margin-right: 5px;
        width: 14px;
    }
    .inf-sc-tp-i {
        margin-top: 10px;
    }
    .second-type-item {
        margin-bottom: 18px;
    }
    .sec-ft-nw {
        width: 153px;
    }
    .sec-ft-nw h2 {
        font-size: 12px;
    }
    .sec-ft-sp span {
        font-size: 10px;
    }
    .sec-ft-nw {
        margin-bottom: 19px;
    }
    .sec-ft-nw h2 {
        margin-bottom: 0px;
    }
    .img-sec-ft {
        height: 190px;
    }
    .rat-sec-ft {
        top: 160px;
    }
    .img-owl-cr {
        width: 100%;
        height: 250px;
    }
    .img-main-event {
        height: 300px;
    }
    .pr-item-img {
        height: 180px;
    }
    .ft-it {
        bottom: 8px;
        margin-left: 0px;
    }
    .rat-pr-item {
        font-size: 9px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .pr-item h2 {
        font-size: 11px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .pr-item-cats {
        margin-left: 5px;
        margin-right: 5px;
    }
    .pr-item-cats span {
        font-size: 10px;
    }
    .wall-0 {
        padding-bottom: 20px;
    }
    .sign-in {
        font-size: 11px;
    }
    .sign-up {
        font-size: 11px;
    }
    .login {
        margin-top: 18px;
    }
    .title-section-featured h2 {
        font-size: 17px;
    }
    .title-section-featured span {
        font-size: 14px;
    }
    .wall-0 {
        padding-top: 12px;
    }
    .actor-each {
        display: -webkit-inline-box;
        width: 100%;
    }
    .film {
        display: flex;
        flex-direction: column;
        margin-top: 7px;
    }
    .film h3,
    .film h4 {
        display: flex;
        justify-content: center;
    }
    .actor h3 {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 863px) {
    .actor h3 {
        width: 250px;
    }
}

@media screen and (max-width: 768px) {
    .full-cover-photo {
        height: 400px;
    }
    .full-cover-photo img {
        min-height: 400px;
    }
    .full-cover-photo:after {
        height: 400px;
    }
    .full-pg-poster {
        width: 170px;
        height: 250px;
    }
    .full-pg-poster img {
        max-width: 170px;
    }
    .conentfull {
        top: 220px;
        left: 220px;
    }
    .title-fullstory {
        font-size: 19px;
    }
    .full-cateogrie span {
        font-size: 14px;
    }
    .about-mov {
        left: 190px;
    }
    .rating-mov {
        margin-top: 25px;
        margin-right: 0px;
    }
    .info-w-c {
        height: 400px;
    }
    .information-mv {
        margin-left: 190px;
    }
    .t-actors {
        font-size: 18px;
    }
    .t-actors-span {
        font-size: 15px;
    }
    .actor h3 {
        width: 250px;
    }
}

@media screen and (max-width: 767px) {
    .sl-in-f {
        top: -160px;
        /* margin: auto; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 20px;
    }
    .sign-in {
        font-size: 9px;
        padding: 5px 15px;
    }
    .sign-up {
        font-size: 9px;
        margin: 5px 15px;
    }
    .btn-rate-sl {
        position: relative;
        top: -9px;
        font-size: 7px;
    }
    .logo img {
        width: 80px;
        margin-left: 40px;
    }
    .cover-fr-nw-it {
        height: 180px;
    }
    .poster-fr-nw {
        width: 70px;
        height: 100px;
        top: 60px;
    }
    .first-news-item:hover .poster-fr-nw {
        top: 70px;
    }
    .see-more-fr {
        font-size: 7px;
        top: 56px;
    }
    .inf-fr-nw {
        position: absolute;
        bottom: 30px;
        margin-left: 100px;
        margin-right: 4px;
    }
    .inf-fr-nw article {
        font-size: 9px;
        bottom: 198px;
        max-height: 27px;
        overflow: hidden;
        margin-top: -10px;
    }
    .inf-fr-nw h2 {
        font-size: 10px;
        bottom: 10px;
        top: -35px;
        max-height: 20px;
        overflow: hidden;
    }
    .first-news-item {
        height: 180px;
        overflow: hidden;
    }
    .second-type-item {
        width: 300px;
    }
    .ps-tp-it {
        width: 70px;
        height: 50px;
    }
    .ps-tp-it img {
        height: 50px;
        min-width: 70px;
    }
    .inf-sc-tp-i span {
        font-size: 7px;
    }
    .date-sc-tp-i {
        width: 10px;
        margin-top: 5px;
    }
    .inf-sc-tp-i h2 {
        font-size: 10px;
        margin-top: 3px;
    }
    .inf-sc-tp-i {
        margin-top: 4px;
    }
    .news-feature {
        margin-bottom: 15px;
    }
    .second-type-item {
        margin-bottom: 15px;
    }
    .img-owl-cr {
        height: 200px;
    }
    .inf-cr-owl h2 {
        width: 65px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 11px;
    }
    .cat-owl span {
        font-size: 7px;
    }
    .rating-owl {
        font-size: 7px;
        bottom: 32px;
    }
    .owl-s h2 {
        font-size: 13px;
    }
    .owl-s span {
        font-size: 11px;
    }
    .prew {
        width: 35px;
        height: 35px;
    }
    .arrow-x {
        left: 33%;
        top: 33%;
    }
    .next {
        width: 35px;
        height: 35px;
    }
    .arrow-y {
        left: 25%;
        top: 25%;
    }
    .title-section-featured h2 {
        font-size: 14px;
    }
    .title-section-featured span {
        font-size: 12px;
    }
    .sec-ft-nw {
        width: 120px;
    }
    .img-main-event {
        height: 200px;
    }
    .main-event h2 {
        font-size: 12px;
    }
    .categories-item-main span {
        font-size: 11px;
    }
    .categories-item-main {
        margin-top: 0px;
    }
    .star-main-event {
        margin-top: -8px;
    }
    .main-event h3 {
        font-size: 11px;
    }
    .pr-item-img {
        height: 130px;
    }
    .pr-item h2 {
        font-size: 10px;
        margin-bottom: -4px;
    }
    .pr-item-cats span {
        font-size: 7px;
    }
    .rat-pr-item {
        font-size: 7px;
    }
    .wall-0 {
        padding-bottom: 1px;
    }
    .infus h2 {
        font-size: 11px;
    }
    .infus span {
        font-size: 9px;
    }
    .subscribe h2 {
        font-size: 12px;
    }
    .subscribe input {
        font-size: 8px;
    }
    .poweredBy {
        font-size: 9px;
    }
    .top-pics {
        margin-bottom: 45px;
    }
    .featured-today {
        margin-bottom: 45px;
    }
    .title-section-top-pics {
        margin-bottom: 15px;
    }
    .title-section-featured {
        margin-top: 30px;
    }
    /*fullstory*/
    .rating-mov {
        display: flex;
        flex-direction: column;
        margin-right: 0px;
    }
    .actor h3 {
        font-size: 15px;
    }
    .actor-each {
        display: -webkit-inline-box;
        width: 100%;
        overflow-x: scroll;
    }
    .film {
        display: flex;
        flex-direction: column;
        margin-top: 7px;
    }
    .film h3,
    .film h4 {
        display: flex;
        justify-content: center;
    }
    .actor h3 {
        display: flex;
        justify-content: center;
        width: 250px;
    }
}

@media screen and (max-width: 627px) {
    .login {
        margin-top: 15px;
    }
    .menu-responsive img {
        margin: 1px;
        width: 25px;
    }
    .news-feature {
        flex-direction: column;
    }
    .first-news-item {
        width: 100%;
        margin-bottom: 20px;
    }
    .sc-tp-section {
        overflow: hidden;
        width: 100%;
    }
    .second-type-item {
        width: 100%;
        margin-left: 0px;
    }
    .ps-rt-ft {
        margin-top: -210px;
    }
    .full-pg-poster {
        width: 140px;
        height: 200px;
    }
    .conentfull {
        left: 180px;
    }
    .about-mov {
        left: 150px;
    }
    .each-mov-inf h2 {
        font-size: 11px;
    }
    .each-mov-inf span {
        font-size: 13px;
    }
    .rating-mov span {
        font-size: 22px;
    }
    .details {
        display: block;
        width: 100%;
        margin-left: 0px;
    }
    .information-mv {
        margin-left: 0px;
    }
    .iframe-video {
        height: 200px;
    }
    .screenshots {
        height: 97px;
    }
    .screenshots img {
        max-height: 110px;
    }
}

@media screen and (max-width: 560px) {
    .content-theaters {
        flex-direction: column;
    }
    .main-event {
        width: 100%;
        margin-bottom: 20px;
    }
    .img-main-event {
        width: 100%;
    }
    .img-main-event img {
        width: 100%;
    }
    .pr-news {
        margin-left: -5px;
        flex-wrap: nowrap;
        width: 100%;
    }
}

@media screen and (max-width: 590px) {
    nav {
        width: 0%;
    }
    .img-owl-cr {
        height: 160px;
    }
    .img-owl-cr img {
        max-width: 200px;
    }
    .content-mv {
        margin-right: 10px;
    }
}

@media screen and (max-width: 555px) {
    .title-fullstory {
        width: 200px;
    }
    .about-mov {
        margin-top: 13px;
    }
}

@media screen and (max-width: 500px) {
    nav {
        width: 0%;
    }
    .pr-item-img {
        height: 100px;
    }
    .pr-item-img img {
        max-width: 100px;
    }
    .img-owl-cr {
        height: 160px;
    }
    .inf-cr-owl {
        left: 5px;
        bottom: 10px;
    }
    .sec-ft-nw {
        width: 100px;
    }
    .img-sec-ft {
        height: 150px;
    }
    .rat-sec-ft {
        top: 120px;
        right: 5px;
    }
    .img-owl-cr img {
        max-width: 150px;
    }
    .img-sec-ft img {
        max-width: 150px;
    }
    .news-owl {
        max-width: 31.5%;
    }
    .news-owl:nth-child(5n) {
        margin-left: 2%;
    }
}

@media screen and (max-width: 468px) {
    .resp-watch {
        margin-top: 5px;
        display: block;
        float: left;
        border-radius: 50%;
        padding: 5px;
        background-color: red;
        border: none;
        outline: none;
        margin-right: 10px;
    }
    .resp-watch img {
        margin-left: 0px;
    }
    .watch-me {
        display: none;
    }
    .recomended {
        font-size: 11px;
    }
}

@media screen and (max-width: 455px) {
    .img-main-event {
        height: 170px;
    }
    .about-mov {
        left: 0px;
    }
    .rating-mov {
        margin-top: 33px;
    }
    .full-pg-poster {
        width: 100px;
        height: 150px;
    }
    .full-pg-poster img {
        max-width: 100px;
    }
    .about-mov {
        margin-top: 15px;
    }
    .conentfull {
        left: 130px;
    }
    .rating-stars-full {
        display: none;
    }
    .screenshots {
        width: 42%;
        height: 83px;
    }
    .screenshots img {
        width: 160px;
    }
    .iframe-video {
        height: 170px;
    }
    .title-fullstory {
        font-size: 14px;
    }
    .conentfull {
        width: 170px;
        overflow: hidden;
    }
}

@media screen and (max-width: 436px) {
    .sign-up {
        display: none;
    }
    .logo img {
        margin-left: 0px;
    }
    .rating-mov span {
        font-size: 14px;
        color: rgb(255, 136, 0);
    }
    .flow-flex {
        flex-direction: column;
    }
    .ft-logo {
        margin: auto;
        width: 100%;
        padding: 0 20px;
    }
    .footerlogo {
        display: flex;
        justify-content: center;
    }
    .subscribe {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }
    .subscribe h2 {
        display: flex;
        justify-content: center;
    }
    .subscribe input {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 390px) {
    .full-cover-photo img {
        margin-left: -5px;
    }
    .iframe-video {
        height: 100px;
    }
    .screenshots {
        height: 47.5px;
    }
    .screenshots img {
        width: 90px;
    }
}

@media screen and (max-width: 340px) {
    .img-main-event {
        height: 150px;
    }
    .img-owl-cr {
        height: 135px;
    }
    .conentfull {
        width: 140px;
        overflow: hidden;
    }
    .recomended {
        font-size: 9px;
        padding: 9px 14px;
        margin-right: 0px;
        margin-top: 5px;
    }
}