@media screen and (max-width: 1280px) {
    header {
        padding: 0 20px;
    }
    .featured-today {
        padding: 0 15px;
    }
    .sec-ft-nw {
        width: 204px;
    }
    .news-feature {
        width: 100%;
        padding: 0 20px;
    }
    .wall-0 {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .sec-ft-nw:hover .information-hovered {
        margin-left: 15px;
    }
    .sec-ft-nw:nth-child(4) .information-hovered {
        margin-right: 15px;
    }
    .sec-ft-nw:last-child .information-hovered {
        margin-right: 15px;
    }
    .footerWrap {
        padding: 50px 20px 0px;
    }
}

@media screen and (max-width: 1211px) {
    .wall-news {
        padding: 70px 15px;
    }
}

@media screen and (max-width: 1195px) {
    .content-ft {
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
    }
}

@media screen and (max-width: 1136px) {
    .lists {
        padding-left: 30px;
        padding-right: 30px;
    }
    header {
        padding: 0 20px;
    }
    .news-feature {
        width: 100%;
        padding: 0 20px;
    }
    .first-news-item {
        width: 600px;
    }
    .poster-fr-nw {
        width: 170px;
        height: 250px;
    }
    .inf-fr-nw h2 {
        font-size: 20px;
        bottom: 80px;
    }
    .first-news-item:hover .aditional-fr-nw {
        margin-top: -55px;
    }
    .second-type-item {
        width: 400px;
    }
    .inf-sc-tp-i h2 {
        font-size: 17px;
    }
    .inf-sc-tp-i span {
        font-size: 14px;
    }
    .date-sc-tp-i {
        margin-top: 0px;
    }
    /*ft*/
    .featured-today {
        padding: 0 15px;
    }
    .sec-ft-nw {
        width: 180px;
    }
    .img-sec-ft {
        height: 250px;
    }
    .img-sec-ft img {
        height: 250px;
    }
    .rat-sec-ft {
        top: 210px;
    }
    .sec-ft-nw:hover .information-hovered {
        top: 20px;
        height: 290px;
    }
    .sec-ft-nw .lefter {
        margin-left: 250px;
    }
    .sec-ft-nw:hover .lefter h2 {
        font-size: 17px;
    }
    .sec-ft-nw:hover .information-hovered {
        width: 500px;
    }
    .sec-ft-nw:hover .lefter article {
        max-height: 49px;
        overflow: hidden;
    }
    .sec-ft-nw:hover .information-hovered {
        margin-left: 25px;
    }
    .sec-ft-nw:nth-child(4):hover .information-hovered {
        width: 500px;
        height: 290px;
    }
    .sec-ft-nw:nth-child(4) .lefter {
        margin-right: 250px;
    }
    .sec-ft-nw:last-child .lefter {
        margin-right: 250px;
    }
    .sec-ft-nw:last-child:hover .information-hovered {
        width: 500px;
        height: 290px;
    }
    .sec-ft-nw:nth-child(4) .information-hovered {
        margin-right: 25px;
    }
    .sec-ft-nw:last-child .information-hovered {
        margin-right: 25px;
    }
    /*top-pics*/
    .top-pics {
        width: 100%;
        padding: 0 5px;
    }
    .sl-carousel {
        width: 1045px;
        width: 100%;
        overflow: hidden;
    }
    .img-owl-cr {
        width: 100%;
        height: 290px;
    }
    .img-owl-cr img {
        height: 290px;
    }
    .news-owl:hover {
        top: 0px;
    }
    /*theaters*/
    .in-theatres {
        width: 100%;
        padding: 0 5px;
    }
    .ft-it {
        bottom: 15px;
    }
    .pr-item h2 {
        font-size: 15px;
    }
    /*footer*/
    .footerWrap {
        width: 100%;
        padding: 50px 20px 0px;
    }
    .heading-category {
        padding: 0 30px;
    }
}

@media screen and (max-width: 1096px) {
    .wall-news {
        padding: 70px 8px;
    }
    .news {
        margin-right: 50px;
    }
    .news .news-hover {
        left: -10px;
    }
    .news:nth-child(5n) .news-hover {
        right: -10px;
    }
    .news:nth-child(5n-1) .news-hover {
        right: -10px;
    }
}

@media screen and (max-width: 1079px) {
    .heading-category {
        padding: 0 80px;
    }
    .news {
        width: 150px;
        margin-right: 30px;
    }
    .news-img {
        width: 150px;
    }
    .slidecontainer {
        width: 100%;
    }
    .title-category {
        font-size: 25px;
    }
    .title-category span {
        font-size: 19px;
    }
    .filter {
        display: block;
    }
    .classFlt {
        width: 100%;
    }
    .content-categories {
        margin-top: 120px;
    }
    .catfiltertitle {
        font-size: 16px;
    }
    .slidecontainer {
        margin-top: -10px;
    }
    .slidecontainer p {
        margin-top: 0px;
    }
}

@media screen and (max-width: 1024px) {
    .sec-ft-nw:hover {
        z-index: 1;
    }
    .logo {
        margin: 0 auto;
    }
    .menu-responsive {
        display: block;
        margin-top: 10px;
    }
    .menu-responsive img {
        margin: 15px;
        width: 35px;
        filter: invert(100%) sepia(60%) saturate(13%) hue-rotate(242deg) brightness(103%) contrast(104%);
    }
    .cover-fr-nw-it {
        height: 325px;
    }
    .inf-fr-nw:hover .inf-fr {
        margin-top: 110px;
    }
    .inf-fr-nw h2 {
        font-size: 16px;
        top: -70px;
    }
    .inf-fr-nw article {
        font-size: 12px;
    }
    .poster-fr-nw {
        width: 150px;
        height: 220px;
    }
    .news-feature {
        margin-top: 0px;
        margin-bottom: 60px;
    }
    .ps-tp-it {
        width: 150px;
        height: 100px;
    }
    .ps-tp-it img {
        min-width: 150px;
    }
    .inf-sc-tp-i h2 {
        font-size: 13px;
    }
    .sec-ft-nw {
        margin-bottom: 40px;
        position: relative;
        top: 0;
        transition: 0.3s;
        width: 18.3%;
    }
    .img-sec-ft {
        height: 230px;
    }
    .img-sec-ft img {
        height: 230px;
    }
    .rat-sec-ft {
        top: 180px;
        font-size: 7pt;
    }
    .sec-ft-nw h2 {
        font-size: 15px;
    }
    .sec-ft-sp span {
        font-size: 13px;
    }
    .sec-ft-nw .information-hovered {
        display: none;
    }
    .inf-cr-owl h2 {
        font-size: 14pt;
        text-overflow: ellipsis;
    }
    .cat-owl span {
        font-size: 9pt;
    }
    .rating-owl {
        bottom: 40px;
        font-size: 9pt;
    }
    .sl-changer {
        margin-top: 0px;
    }
    .main-event h3 {
        font-size: 13px;
    }
    .main-event h2 {
        font-size: 18px;
        margin-top: 10px;
    }
    .categories-item-main span {
        font-size: 13px;
    }
    .first-news-item:hover .aditional-fr-nw {
        margin-top: -20px;
    }
    /*footer*/
    .footerlogo {
        font-size: 25px;
    }
    .infus h2 {
        font-size: 17px;
    }
    .infus span {
        font-size: 15px;
    }
    .subscribe input {
        width: 100%;
    }
    .subscribe h2 {
        font-size: 17px;
    }
    .subscribe input {
        font-size: 12px;
    }
    .poweredBy {
        font-size: 12px;
    }
    /*nav*/
    nav ul {
        width: 0px;
        height: 0px;
        overflow: hidden;
        opacity: 0;
    }
    .active-nav {
        display: block;
        position: fixed;
        overflow: hidden;
        background-color: rgba(32, 32, 32, 0.5);
        height: 100%;
        width: 0%;
        left: 0;
        transition: 0.4s;
    }
    .on {
        width: 100%;
    }
    .active-nav ul {
        flex-direction: column;
        width: 350px;
        height: 100%;
        left: 0;
        overflow: hidden;
        overflow-y: auto;
        background-color: #e63946;
        opacity: 1;
        box-shadow: 0px 0 15px -2px rgb(26, 26, 26);
        transition: width 0.4s;
        padding-top: 30px;
    }
    .active-nav ul li a {
        display: block;
        padding: 20px;
        font-size: 15px;
        color: #6e1c1c;
        font-family: "Cabin-Regular";
        border-bottom: 1px solid#D62828;
    }
    .prof-st li a {
        display: block;
        padding: 10px !important;
        margin: 2px;
        font-size: 14px;
        color: rgb(243, 243, 243) !important;
        font-family: "Cabin-Regular";
        background-color: #d62828;
    }
    .content-ft {
        white-space: nowrap;
        overflow-x: scroll;
    }
    .content-ft::-webkit-scrollbar {
        width: 2px;
        height: 4px;
        cursor: pointer;
    }
    .content-ft::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 10px;
    }
    .content-ft::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #d1d1d1;
        cursor: pointer;
    }
    /*fullstory*/
    .inf-full-story {
        padding: 0 20px;
    }
    .iframe-video {
        height: 313px;
    }
    /*mov*/
    .wall-news {
        width: 100%;
    }
    .news-content {
        margin-left: 40px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 991px) {
    .booking {
        display: none;
    }
    .news .news-hover {
        display: none;
    }
    .menu-responsive img {
        margin: 6px;
        width: 30px;
        cursor: pointer;
    }
    .poster-fr-nw {
        top: 90px;
        width: 120px;
        height: 170px;
    }
    .cover-fr-nw-it {
        height: 280px;
    }
    .first-news-item:hover .aditional-fr-nw {
        display: none;
    }
    .first-news-item:hover .see-more-fr {
        display: none;
    }
    .inf-fr-nw h2 {
        top: -35px;
        font-size: 12px;
    }
    .inf-fr-nw article {
        font-size: 10px;
    }
    .ps-tp-it {
        width: 130px;
        height: 80px;
    }
    .logo img {
        width: 100px;
    }
    .ps-tp-it img {
        min-width: 100px;
        width: 130px;
        height: 80px;
    }
    .inf-sc-tp-i h2 {
        font-size: 15px;
    }
    .inf-sc-tp-i span {
        font-size: 10px;
    }
    .date-sc-tp-i {
        margin-top: 2px;
        margin-right: 5px;
        width: 14px;
    }
    .inf-sc-tp-i {
        margin-top: 10px;
    }
    .second-type-item {
        margin-bottom: 18px;
    }
    .sec-ft-nw {
        width: 153px;
    }
    .sec-ft-nw h2 {
        font-size: 12px;
    }
    .sec-ft-sp span {
        font-size: 10px;
    }
    .sec-ft-nw {
        margin-bottom: 19px;
    }
    .sec-ft-nw h2 {
        margin-bottom: 0px;
    }
    .img-sec-ft {
        height: 200px;
    }
    .img-sec-ft img {
        height: 200px;
    }
    .rat-sec-ft {
        top: 165px;
    }
    .img-owl-cr {
        width: 100%;
        height: 250px;
    }
    .img-owl-cr img {
        height: 250px;
    }
    .img-main-event {
        height: 300px;
    }
    .pr-item-img {
        height: 180px;
    }
    .ft-it {
        bottom: 8px;
        margin-left: 0px;
    }
    .rat-pr-item {
        font-size: 9px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .pr-item h2 {
        font-size: 11px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .pr-item-cats {
        margin-left: 5px;
        margin-right: 5px;
    }
    .pr-item-cats span {
        font-size: 10px;
    }
    .wall-0 {
        padding-bottom: 20px;
    }
    .sign-in {
        font-size: 11px;
    }
    .sign-up {
        font-size: 11px;
    }
    .login {
        margin-top: 18px;
    }
    .title-section-featured h2 {
        font-size: 17px;
    }
    .title-section-featured span {
        font-size: 14px;
    }
    .wall-0 {
        padding-top: 12px;
    }
    .actor-each {
        display: -webkit-inline-box;
        width: 100%;
    }
    .film {
        display: flex;
        flex-direction: column;
        margin-top: 7px;
    }
    .film h3,
    .film h4 {
        display: flex;
        justify-content: center;
    }
    .actor h3 {
        display: flex;
        justify-content: center;
    }
    .cover-fr-nw-it img {
        width: 150%;
        min-height: 280px;
    }
}

@media screen and (max-width: 863px) {
    .inf-fr-nw span {
        font-size: 13px;
    }
    .inf-fr-nw span img {
        width: 15px;
        margin-top: -1px;
    }
    .inf-fr-nw {
        margin-top: -105px;
    }
    .img-owl-cr img {
        height: 290px;
    }
    .img-owl-cr {
        height: 290px;
    }
    .actor h3 {
        width: 250px;
    }
    .news-content {
        margin-left: 18px;
        display: block;
    }
    .news {
        width: 100%;
        overflow: hidden;
        margin-right: 120px;
        background-color: rgb(247, 247, 247);
    }
    .news-img {
        width: 100px;
        height: 160px;
        float: left;
        margin-right: 30px;
    }
    .news-img img {
        max-width: 110px;
    }
    .h2-news {
        display: block;
        width: auto;
        margin-top: 20px;
        text-align: start;
    }
    .news-categories {
        display: block;
    }
    .news-rating {
        position: absolute;
        right: auto;
        left: 130px;
        top: 70px;
    }
}

@media screen and (max-width: 768px) {
    .first-news-item:hover .aditional-fr-nw {
        display: none;
    }
    .inf-fr-nw h2 {
        top: -60px;
        font-size: 12px;
    }
    .full-cover-photo {
        height: 400px;
    }
    .full-cover-photo img {
        min-height: 400px;
    }
    .full-cover-photo:after {
        height: 400px;
    }
    .full-pg-poster {
        width: 170px;
        height: 250px;
    }
    .full-pg-poster img {
        max-width: 170px;
    }
    .conentfull {
        top: 220px;
        left: 220px;
    }
    .title-fullstory {
        font-size: 19px;
    }
    .full-cateogrie span {
        font-size: 14px;
    }
    .about-mov {
        left: 190px;
    }
    .rating-mov {
        margin-top: 25px;
        margin-right: 0px;
    }
    .info-w-c {
        height: 400px;
    }
    .information-mv {
        margin-left: 190px;
    }
    .t-actors {
        font-size: 18px;
    }
    .t-actors-span {
        font-size: 15px;
    }
    .actor h3 {
        width: 250px;
    }
    .inf-cr-owl h2 {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 767px) {
    .news-feature {
        margin-top: -70px;
    }
    .categories-drop {
        margin-top: 70px;
    }
    .sign-in {
        font-size: 9px;
        padding: 5px 15px;
    }
    .sign-up {
        font-size: 9px;
        margin: 5px 15px;
    }
    .logo img {
        width: 80px;
        margin-left: 40px;
    }
    .cover-fr-nw-it {
        height: 280px;
    }
    .poster-fr-nw {
        width: 70px;
        height: 100px;
        top: 60px;
    }
    .first-news-item:hover .poster-fr-nw {
        top: 70px;
    }
    .see-more-fr {
        font-size: 7px;
        top: 56px;
    }
    .inf-fr-nw {
        position: absolute;
        margin-left: 10%;
        bottom: -10px;
    }
    .inf-fr-nw article {
        font-size: 12px;
        bottom: 198px;
        max-height: 27px;
        overflow: hidden;
        margin-top: 10px;
    }
    .inf-fr-nw h2 {
        font-size: 15px;
        bottom: 10px;
        top: -35px;
        max-height: 15px;
        overflow: hidden;
    }
    .news-feature {
        display: block;
    }
    .first-news-item {
        width: 100%;
        height: 280px;
        overflow: hidden;
    }
    .sc-tp-section {
        margin-top: 15px;
    }
    .second-type-item {
        width: 100%;
        margin-left: 0px;
    }
    .ps-tp-it {
        width: 100px;
        height: 70px;
    }
    .ps-tp-it img {
        height: 70px;
        min-width: 70px;
    }
    .inf-sc-tp-i span {
        font-size: 13px;
    }
    .date-sc-tp-i {
        width: 15px;
        margin-top: 0px;
    }
    .inf-sc-tp-i h2 {
        font-size: 14px;
        margin-top: 3px;
    }
    .inf-sc-tp-i {
        margin-top: 11px;
    }
    .news-feature {
        margin-bottom: 15px;
    }
    .second-type-item {
        margin-bottom: 15px;
    }
    .inf-cr-owl h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
    }
    .cat-owl span {
        font-size: 7px;
    }
    .rating-owl {
        font-size: 7px;
        bottom: 32px;
    }
    .owl-s h2 {
        font-size: 19px;
    }
    .owl-s span {
        font-size: 14px;
    }
    .prew {
        width: 35px;
        height: 35px;
    }
    .arrow-x {
        left: 33%;
        top: 33%;
    }
    .next {
        width: 35px;
        height: 35px;
    }
    .arrow-y {
        left: 25%;
        top: 25%;
    }
    .title-section-featured h2 {
        font-size: 14px;
    }
    .title-section-featured span {
        font-size: 12px;
    }
    .sec-ft-nw {
        width: 120px;
    }
    .img-main-event {
        height: 200px;
    }
    .main-event h2 {
        font-size: 12px;
    }
    .categories-item-main span {
        font-size: 11px;
    }
    .categories-item-main {
        margin-top: 0px;
    }
    .star-main-event {
        margin-top: -8px;
    }
    .main-event h3 {
        font-size: 11px;
    }
    .pr-item-img {
        height: 130px;
    }
    .pr-item h2 {
        font-size: 10px;
        margin-bottom: -4px;
    }
    .pr-item-cats span {
        font-size: 7px;
    }
    .rat-pr-item {
        font-size: 7px;
    }
    .wall-0 {
        padding-bottom: 1px;
    }
    .infus h2 {
        font-size: 11px;
    }
    .infus span {
        font-size: 9px;
    }
    .subscribe h2 {
        font-size: 12px;
    }
    .subscribe input {
        font-size: 8px;
    }
    .poweredBy {
        font-size: 9px;
    }
    .top-pics {
        margin-bottom: 45px;
    }
    .featured-today {
        margin-bottom: 45px;
    }
    .title-section-top-pics {
        margin-bottom: 15px;
    }
    .title-section-featured {
        margin-top: 30px;
    }
    /*fullstory*/
    .rating-mov {
        display: flex;
        flex-direction: column;
        margin-right: 0px;
    }
    .actor h3 {
        font-size: 15px;
    }
    .actor-each {
        display: -webkit-inline-box;
        width: 100%;
        overflow-x: scroll;
    }
    .film {
        display: flex;
        flex-direction: column;
        margin-top: 7px;
    }
    .film h3,
    .film h4 {
        display: flex;
        justify-content: center;
    }
    .actor h3 {
        display: flex;
        justify-content: center;
        width: 250px;
    }
    .catfiltertitle {
        padding: 10px 10px 10px 20px;
    }
    .catfiltertitle img {
        margin-top: -1px;
    }
    .filter-types {
        margin: 20px 20px 30px 0px;
    }
    .img-owl-cr {
        height: 240px;
    }
    .img-owl-cr img {
        height: 240px;
    }
}

@media screen and (max-width: 705px) {
    .img-owl-cr {
        height: 220px;
    }
    .img-owl-cr img {
        height: 220px;
    }
    .flow-flex {
        flex-direction: column;
    }
    .footerlogo {
        display: flex;
        justify-content: center;
    }
    .ft-logo {
        width: 100%;
    }
    .infus h2 {
        text-align: center;
        font-size: 17px;
    }
    .infus span {
        font-size: 15px;
        text-align: center;
    }
    .subscribe {
        width: 100%;
    }
    .subscribe h2 {
        font-size: 16px;
        text-align: center;
    }
    .subscribe input {
        margin: auto;
        font-size: 14px;
        width: 60%;
        display: flex;
    }
    .poweredBy {
        font-size: 13px;
    }
}

@media screen and (max-width: 630px) {
    .news-owl {
        max-width: 33.3%;
    }
}

@media screen and (max-width: 627px) {
    .sl-changer {
        display: none;
    }
    .classFlt {
        position: relative;
    }
    .heading-category {
        overflow: unset;
        margin-top: -182px;
        padding-top: 100px;
        height: 580px;
    }
    .change-data {
        margin-bottom: 0px;
    }
    .change-data input {
        width: 100%;
        margin: 10px -5px;
    }
    .categories-drop ul li a {
        font-size: 13px;
        padding: 10px 15px;
    }
    .categories-drop {
        position: absolute;
        width: 100%;
        margin-top: -11px;
    }
    .login {
        margin-top: 15px;
    }
    .menu-responsive img {
        margin: 1px;
        width: 33px;
        margin-top: 5px;
    }
    .news-feature {
        flex-direction: column;
    }
    .first-news-item {
        width: 100%;
        margin-bottom: 20px;
    }
    .sc-tp-section {
        overflow: hidden;
        width: 100%;
    }
    .second-type-item {
        width: 100%;
        margin-left: 0px;
    }
    .ps-rt-ft {
        margin-top: -210px;
    }
    .full-pg-poster {
        width: 140px;
        height: 200px;
    }
    .conentfull {
        left: 180px;
    }
    .about-mov {
        left: 150px;
    }
    .each-mov-inf h2 {
        font-size: 11px;
    }
    .each-mov-inf span {
        font-size: 13px;
    }
    .rating-mov span {
        font-size: 22px;
    }
    .details {
        display: block;
        width: 100%;
        margin-left: 0px;
    }
    .information-mv {
        margin-left: 0px;
    }
    .iframe-video {
        height: 200px;
    }
    .screenshots {
        height: 97px;
    }
    .screenshots img {
        max-height: 110px;
    }
    .filter-types {
        width: 100%;
    }
    .classFlt {
        display: block;
    }
    /* .heading-category {
        height: 450px;
    } */
    .slidecontainer {
        margin: auto;
    }
    .active-nav ul {
        width: 280px;
    }
    .img-owl-cr {
        height: 250px;
    }
    .img-owl-cr img {
        height: 250px;
    }
}

@media screen and (max-width: 560px) {
    .content-theaters {
        flex-direction: column;
    }
    .main-event {
        width: 100%;
        margin-bottom: 20px;
    }
    .img-main-event {
        width: 100%;
    }
    .img-main-event img {
        width: 100%;
    }
    .pr-item-img {
        height: 180px;
    }
    .pr-item-img img {
        position: absolute;
        left: 0;
        transform: none;
        max-width: 220px;
        height: 180px;
    }
    .pr-news {
        margin-left: -5px;
        flex-wrap: nowrap;
        width: 100%;
    }
}

@media screen and (max-width: 590px) {
    nav {
        width: 0%;
    }
    .img-owl-cr {
        height: 250px;
    }
    .img-owl-cr img {
        height: 250px;
    }
    .content-mv {
        margin-right: 10px;
    }
}

@media screen and (max-width: 555px) {
    .title-fullstory {
        width: 200px;
    }
    .about-mov {
        margin-top: 13px;
    }
    .img-owl-cr {
        height: 220px;
    }
    .img-owl-cr img {
        height: 220px;
    }
    .ph-vd {
        display: block;
    }
    .videos-full,
    .photos-full {
        width: 100%;
        margin-bottom: 30px;
    }
    .screenshots {
        height: 110px;
    }
    .screenshots img {
        max-height: 190px;
    }
    .screenshots {
        width: 47%;
    }
}

@media screen and (max-width: 500px) {
    nav {
        width: 0%;
    }
    .pr-item-img {
        height: 150px;
    }
    .pr-item-img img {
        height: 150px;
    }
    .img-owl-cr {
        height: 190px;
    }
    .inf-cr-owl {
        left: 5px;
        bottom: 10px;
    }
    .sec-ft-nw {
        width: 100px;
    }
    .img-sec-ft {
        height: 150px;
    }
    .rat-sec-ft {
        top: 120px;
        right: 5px;
    }
    .img-owl-cr img {
        height: 190px;
    }
    .img-sec-ft img {
        height: 150px;
    }
}

@media screen and (max-width: 468px) {
    .resp-watch {
        margin-top: 5px;
        display: block;
        float: left;
        border-radius: 50%;
        padding: 5px;
        background-color: red;
        border: none;
        outline: none;
        margin-right: 10px;
    }
    .resp-watch img {
        margin-left: 0px;
    }
    .watch-me {
        display: none;
    }
    .recomended {
        font-size: 11px;
    }
}

@media screen and (max-width: 455px) {
    .img-main-event {
        height: 170px;
    }
    .about-mov {
        left: 0px;
    }
    .rating-mov {
        margin-top: 33px;
    }
    .full-pg-poster {
        width: 100px;
        height: 150px;
    }
    .full-pg-poster img {
        max-width: 100px;
    }
    .about-mov {
        margin-top: 15px;
    }
    .conentfull {
        left: 130px;
    }
    .rating-stars-full {
        display: none;
    }
    .title-fullstory {
        font-size: 14px;
    }
    .conentfull {
        width: 170px;
        overflow: hidden;
    }
    .screenshots {
        width: 47%;
    }
    .pr-item-img {
        height: 130px;
    }
    .pr-item-img img {
        height: 130px;
    }
}

@media screen and (max-width: 436px) {
    .sign-up {
        display: none;
    }
    .logo img {
        margin-left: 0px;
    }
    .rating-mov span {
        font-size: 14px;
        color: rgb(255, 136, 0);
    }
    .flow-flex {
        flex-direction: column;
    }
    .ft-logo {
        margin: auto;
        width: 100%;
        padding: 0 20px;
    }
    .footerlogo {
        display: flex;
        justify-content: center;
    }
    .subscribe {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }
    .subscribe h2 {
        display: flex;
        justify-content: center;
    }
    .subscribe input {
        display: flex;
        justify-content: center;
    }
    .img-owl-cr {
        height: 150px;
    }
    .img-owl-cr img {
        height: 150px;
    }
    .pr-item-img {
        height: 120px;
    }
    .pr-item-img img {
        height: 120px;
    }
}

@media screen and (max-width: 390px) {
    .full-cover-photo img {
        margin-left: -5px;
    }
    .screenshots img {
        max-height: 140px;
    }
    .pr-item-img {
        height: 110px;
    }
    .pr-item-img img {
        height: 110px;
    }
}

@media screen and (max-width: 365px) {
    .news-owl {
        max-width: 50%;
    }
    .img-owl-cr {
        height: 200px;
    }
    .img-owl-cr img {
        height: 200px;
    }
    .screenshots {
        width: 46%;
    }
    .screenshots img {
        max-height: 120px;
    }
}