.slider {
    position: relative;
    overflow: hidden;
    width: 840px;
    top: -125px;
}

.slide-show {
    overflow: hidden;
}

.slider-ul {
    width: 100%;
    white-space: nowrap;
    transition: 0.3s;
}

.item {
    display: inline-block;
    margin-right: -4px;
    width: 280px;
    padding: 10px;
    background: none;
    border-radius: 10px;
    transition: 0.9s;
}

.inf-itm {
    position: relative;
    background: none;
    border-radius: 8px;
    cursor: pointer;
}

.img-inf-itm {
    position: relative;
    overflow: hidden;
    height: 170px;
    border-radius: 8px;
    -webkit-box-shadow: 0 6px 4px -4px rgb(112, 112, 112);
    -moz-box-shadow: 0 6px 4px -4px rgb(112, 112, 112);
    box-shadow: 0 6px 4px -4px rgb(112, 112, 112);
}

.img-inf-itm:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-inf-itm h2 {
    position: absolute;
    left: 20px;
    bottom: 15px;
    color: rgb(255, 255, 255);
    font-family: "Cabin-Bold";
    font-size: 16px;
    z-index: 1;
}

.img-inf-itm img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    min-height: 190px;
}

.slider-header {
    position: relative;
    top: -95px;
}

.slider-content {
    display: none;
}

.sl-im {
    position: relative;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    object-fit: cover;
}

.im-cth {
    object-fit: cover;
    width: 100%;
    height: 570px;
    overflow: hidden;
}

.shadow-effect-sl-img {
    position: absolute;
    width: 100%;
    height: 570px;
    top: 0;
    background-image: linear-gradient(to right, #1d3557, #1d3557, #000, #000);
    opacity: 0.9;
}

.sl-in-ds-fl {
    position: relative;
    width: 1200px;
    margin: auto;
}

.sl-in-f {
    position: absolute;
    top: -410px;
    left: 48px;
}

.sl-in-f h2 {
    display: flex;
    font-size: 42px;
    font-family: "Cabin-Bold";
    color: #fff;
    margin-bottom: 15px;
    animation: imgup 0.5s;
}

.title-sc-sl {
    position: relative;
    width: auto;
    margin-right: 5px;
}

.dt-sl {
    margin-top: 10px;
    margin-left: 10px;
    /* margin-left: -45px; */
    color: rgb(167, 167, 167);
    font-size: 20px;
}

.cats {
    position: relative;
    top: -30px;
}

.cats span {
    margin: 0 10px 0 0;
    font-size: 14px;
    font-family: "Cabin-Bold";
    color: #c2c2c2;
}

.sl-in-f article {
    width: 350px;
    font-size: 14px;
    font-family: "Cabin-Regular";
    color: #c6c6c6;
    animation: textup 0.5s;
}

.btn-rate-sl {
    margin: 15px 0 20px;
    padding: 8px 15px;
    background-color: #e63946;
    font-size: 11pt;
    font-family: "Cabin-Regular";
    color: #171717;
    border: none;
    outline: none;
    border-radius: 9px;
    cursor: pointer;
    animation: textup 0.5s;
}

.rating-stars {
    overflow: hidden;
    position: absolute;
    left: -10px;
    top: 94px;
    animation: textup 0.5s;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 20px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: "★ ";
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

.star-rat {
    float: left;
    background-image: url("../images/star.svg");
    width: 20px;
    height: 20px;
    cursor: pointer;
}


/*rating*/

:root {
    --rating-size: 5rem;
    --bar-size: 0.3rem;
    --background-color: #e7f2fa;
    --rating-color-default: #2980b9;
    --rating-color-background: #c7e1f3;
    --rating-color-good: #27ae60;
    --rating-color-meh: #faa307;
    --rating-color-bad: #e74c3c;
}


/* Rating item */

.rating {
    position: relative;
    top: 3px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    background: var(--rating-color-default);
    color: var(--rating-color-default);
    width: var(--rating-size);
    height: var(--rating-size);
    /* Basic style for the text */
    font-size: calc(var(--rating-size) / 3);
    line-height: 1;
}


/* Rating circle content */

.rating span {
    position: relative;
    display: flex;
    font-weight: bold;
    z-index: 2;
}

.rating span small {
    font-size: 0.5em;
    font-weight: 900;
    align-self: center;
}


/* Bar mask, creates an inner circle with the same color as thee background */

.rating::after {
    content: "";
    position: absolute;
    top: var(--bar-size);
    right: var(--bar-size);
    bottom: var(--bar-size);
    left: var(--bar-size);
    background: var(--background-color);
    border-radius: inherit;
    z-index: 1;
}


/* Bar background */

.rating::before {
    content: "";
    position: absolute;
    top: var(--bar-size);
    right: var(--bar-size);
    bottom: var(--bar-size);
    left: var(--bar-size);
    border-radius: inherit;
    box-shadow: 0 0 0 1rem var(--rating-color-background);
    z-index: -1;
}


/* Classes to give different colors to ratings, based on their score */

.rating.good {
    background: var(--rating-color-good);
    color: var(--rating-color-good);
}

.rating.meh {
    background: var(--rating-color-meh);
    color: var(--rating-color-meh);
}

.rating.bad {
    background: var(--rating-color-bad);
    color: var(--rating-color-bad);
}

@keyframes imgup {
    0% {
        animation-delay: 0.3s;
        animation-direction: alternate;
        transform: rotate(80deg);
    }
    10% {
        transform: rotate(60deg);
    }
    90% {
        animation-delay: 0.3s;
        animation-direction: alternate;
        transform: rotate(0);
    }
}

@keyframes textup {
    0% {
        animation-delay: 0.3s;
        animation-direction: alternate;
        transform: translateX(10px);
    }
    10% {
        transform: translateX(100px);
    }
    90% {
        animation-delay: 0.3s;
        animation-direction: alternate;
        transform: translateX(0px);
    }
}


/*responsive*/

@media screen and (max-width: 1024px) {
    .sl-in-f h2 {
        font-size: 25px;
    }
    .dt-sl {
        font-size: 17px;
    }
    .rating {
        width: 50px;
        height: 50px;
        font-size: 16px;
        margin-left: 20px;
    }
    .cats span {
        font-size: 12px;
    }
    .rating-stars {
        top: 65px;
    }
    .sl-in-f article {
        font-size: 12px;
    }
    .item {
        width: 220px;
    }
    .slider {
        width: 660px;
        top: -165px;
        left: 10px;
    }
    .sl-im {
        margin-top: -50px;
        height: 520px;
    }
    .shadow-effect-sl-img {
        height: 500px;
    }
}

@media screen and (max-width: 991px) {
    .slider-header {
        top: -105px;
        margin-bottom: -80px;
    }
    .sl-in-f article {
        display: none;
    }
    .slider {
        width: 470px;
        top: -120px;
    }
    .im-cth {
        height: 350px;
    }
    .sl-im {
        height: 350px;
    }
    .shadow-effect-sl-img {
        height: 300px;
    }
    .sl-in-f {
        top: -220px;
    }
    .rating-stars {
        display: none;
    }
    .sl-in-f h2 {
        margin-bottom: 0px;
    }
    .title-sc-sl {
        font-size: 14px;
    }
    .dt-sl {
        margin-top: 0px;
        font-size: 11px;
    }
    .cats span {
        font-size: 8px;
    }
    .btn-rate-sl {
        margin-top: -15px;
        font-size: 8px;
    }
    .item {
        width: 160px;
    }
    .img-inf-itm {
        height: 80px;
    }
    .img-inf-itm img {
        width: 300px;
    }
    .img-inf-itm h2 {
        font-size: 10px;
        left: 5px;
        bottom: 10px;
    }
}

@media screen and (max-width: 767px) {
    .slider-header {
        margin-bottom: -100px;
    }
    .slider {
        width: 300px;
    }
    .item {
        width: 100px;
    }
    .im-cth {
        height: 300px;
    }
    .sl-in-f {
        top: -180px;
    }
    .cats {
        top: 0px;
    }
    .rating {
        display: none;
    }
    .sl-im {
        height: 300px;
    }
    .btn-rate-sl {
        display: none;
    }
    .shadow-effect-sl-img {
        height: 250px;
    }
    .img-inf-itm {
        height: 70px;
    }
    .img-inf-itm h2 {
        font-size: 8px;
    }
}